$black: #202123;

body {
  margin: 0;
  padding: 0;

  &.dark-mode {
    .expand-menu-btn {
      background: $black !important;
      color: #FFF !important;
      border-color: #FFF !important;
    }
  }
}

.expand-menu-btn {
  position: fixed;
  z-index: 3;
  right: 1.5rem;
  top: 1.5rem;
  background: #FFF !important;
  color: $black !important;
  border: 1px solid $black !important;
}

#color-grid {
  position: fixed;
  top: 0;
  width: 100%;
}

%box-shadow {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none !important;
}

.doodle-button-group {
  margin: 1rem auto;
}

.doodle-button {
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
  background: transparent;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    background: #FFF;
    color: $black;
  }

  &.close-menu-btn {
    align-self: flex-end;
    margin-right: 0.5rem;
  }
}

.doodle-squares {
  display: flex;
  flex-wrap: wrap;

  button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.doodle-title {
  .fieldset-label {
    border-top: none !important;
    cursor: unset !important;
    font-size: 1.1rem;
    align-items: center;
  }
  .doodle-button {
    border: none;
    font-weight: bold;
  }
}

.doodle-controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  font-family: Verdana, sans-serif;
  text-shadow: none;
  width: 16rem;
  @media (max-width: 480px) {
    width: 15rem;
  }

  top: 0;
  right: 0;
  height: 100%;
  background-color: lighten($black, 8);
  overflow-y: auto;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: 1.25rem;
  @extend %box-shadow;

  fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    border: 0;

    .fieldset-label {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
      border: 0;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      cursor: pointer;
    }

    .input-group {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0.25rem;
      padding: 0 1rem;
      font-size: 0.9rem;

      .label-group {
        margin: 0.25rem 0;
      }
    }

    &.expanded {
      .fieldset-label {
        background-color: #FFF;
        color: $black;
      }

      .input-group {
        display: flex;
      }
    }
  }

  select {
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 0.75rem;
    padding: 0.1rem 0.25rem;
  }

  input {
    padding: 0;
    cursor: pointer;

    &[type="range"] {
      margin: 0.25rem auto;
      width: 85%;
      transform: scale(1.2);
    }
    &[type="checkbox"] {
      transform: scale(1.75);
    }
  }

  .doodle-radio {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;

    input[type="radio"] {
      transform: scale(1.5);
    }
    label {
      padding-left: 0.5rem;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

  .input-row {
    display: flex;

    .input-group {
      padding: 0;

      &:first-of-type {
        padding: 0 1rem;
      }
      &:last-of-type {
        padding-right: 0.5rem;
      }
      [type="checkbox"] {
        margin-top: 0.35rem;
      }
    }
  }

  .animation-controls {
    .input-group {
      &:first-of-type {
        max-width: 5rem;
      }
    }
  }

  .menu-buttons {
    margin: 0.5rem auto;
    padding-left: 0.5rem;

    button {
      margin: 0.25rem;
    }
  }

  .footer-buttons {
    margin-bottom: 5rem;
    align-items: flex-end;

    button {
      border: none;
      width: 4rem;
      fill: lighten($black, 3);
      &:hover {
        background-color: unset;
        fill: #FFF;
      }
    }
  }

  #backgroundColor {
    display: flex;
    .doodle-radio {

      &:not(:first-of-type) {
        margin-left: 0.5rem;
      }
      
      label {
        padding-left: 0.2rem;
      }
    }
  }
}