{% extends "admin/change_list.html" %}

{% block extra_admin_utils %}
<form method="post" action="{% url 'admin-build-daggerwalk-caches' %}">
    {% csrf_token %}
    <button type="submit" class="button" onclick="return confirm('Build Daggerwalk caches now?')">
        Build Daggerwalk Caches
    </button>
</form>

<form method="post" action="{% url 'admin:run_bluesky_post' %}">
  {% csrf_token %}
  <button type="submit" class="button" onclick="return confirm('Post to Bluesky now?')">
    Post to Bluesky
  </button>
</form>
{% endblock %}