@import '../../index.scss';

.playerButton {
  cursor: pointer;
  overflow: hidden;
  background: none;
  border: none;
  padding: 0.2rem 0.5rem;
  margin: 0;
  border-radius: 0.2rem;

  svg,
  path {
    stroke: var(--dynamic-color);
    fill: var(--dynamic-color);
    height: 100%;
    width: 100%;
    transition:
      stroke,
      fill 0.2s;
  }

  &:hover {
    opacity: 0.5;
  }
}
