@import '../../index.scss';

.playerButton {
  cursor: pointer;
  overflow: hidden;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  svg,
  path {
    stroke: var(--dynamic-color);
    fill: var(--dynamic-color);
    height: 100%;
    width: 100%;
  }

  &:hover {
    opacity: 0.5;
  }
}
