<div id="loading-dimmer" class="dimmer hidden">
    <div id="loading" class="blue-gradient-circular">
    <p>Accessing the Steam Web API...</p>

    <br>

    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

    <div id="text1" class="extra-loading-text hidden">This is taking longer than expected...</div>
    <div id="text2" class="extra-loading-text hidden">The API is <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=steam%20web%20api%20slow" class="animate">notoriously slow</a> and will possibly time out, please try again!</div>
    </div>
</div>