{% load portfolio_tags %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/img/screenbloom/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ base_s3_url }}/wowSlider/engine/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_s3_url }}/css/screenbloom.css"/>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <title>ScreenBloom</title>
    </head>
<body>
    <div id="hidden-menu" class="border-animate">
        <div id="top" class="animate">
            <i class="fa fa-arrow-circle-up"></i>
            <span>Top</span>
        </div>

        <div id="hidden-logo">
            <span class="raleway">Screen</span><span id="hidden-bloom" class="lobster color-animate">Bloom</span>
        </div>

        <div id="hidden-nav">
            <span id="nav-about" class="animate">About</span>
            <span id="nav-media" class="animate">Media</span>
            <span id="nav-download" class="animate">Download</span>
            <span id="nav-support" class="animate">Support</span>
        </div>
    </div>

    <div id="main-container" class="container">
        <div id="welcome-section" class="container">
            <div id="welcome-inner" class="container">
                <div id="logo-container" class="container">
                    <div id="logo" class="container box-shadow-animate">
                        <h1 class="raleway">Screen</h1><h1 id="bloom" class="lobster color-animate">Bloom</h1>

                        <span>Sync Philips Hue lights to your screen</span>
                    </div>
                </div>

                <div id="buttons-container" class="container">
                    <div id="about-button" class="button animate-fast">About</div>
                    <div id="media-button" class="button animate-fast">Media</div>
                    <div id="download-button" class="button animate-fast">
                        Download
                        <span id="button-latest-version">v2.2</span>
                        </div>
                    <div id="help-button" class="button animate-fast">Support</div>
                </div>
            </div>
        </div>

        <div id="about-section" class="container section" style="border: none;">
            <!--<div id="about-section-title" class="section-title lobster color-animate">About</div>-->

            <div class="about-text-wrapper">
                <div id="about-text" class="container">
                    <div class="gfycat-example-wrapper">
                        <div class="gfycat-example" style='position:relative;padding-bottom:calc(100% / 1.78)'><iframe src='https://gfycat.com/ifr/RadiantWigglyAsiaticlesserfreshwaterclam' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                        <span>1x Lightstrip Plus behind a 55'' Samsung TV.  Mirroring a PC via HDMI.</span>
                    </div>


                    <div class="about-intro" style="margin: 1.5em auto;">
                        <span class="poop color-animate">ScreenBloom</span> is a free PC/Mac application that grabs the average
                        color of your screen and sends that value to connected Philips Hue lights.
                        </div>

                    <div class="about-intro-paragraph">
                    <div id="github-link">
                        <a id="git-link" href="https://github.com/kershner/screenbloom" class="animate" target="_blank">
                            <span>View Source Code</span>
                            <i class="fa fa-github poop color-animate"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="media-section" class="container section">
            <div id="media-section-title" class="section-title lobster color-animate">Media</div>

            <span class="video-intro-text poop color-animate" style="margin-bottom: .25em;">Videos</span>
            <div id="video-playlist" class="video">
                <div class=video-wrapper>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLAtCvsbFyJ9afIshzpOZkCrpFjdNCNZyR" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <span class="video-intro-text poop color-animate" style="margin-bottom: .25em;">GIFs</span>

            <div class="gifs-container">
                <div class="gif-wrapper">
                    <div style='position:relative;padding-bottom:calc(100% / 1.78)'><iframe src='https://gfycat.com/ifr/OrnateDetailedAmberpenshell' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                </div>

                <div class="gif-wrapper">
                    <div style='position:relative;padding-bottom:calc(100% / 1.78)'><iframe src='https://gfycat.com/ifr/AffectionateDistinctBanteng' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="more-gifs-button click-button">Load More GIFs</div>

            <div class="slideshow">
                <span style="display: block; color: #007AA3; font-weight: bold; font-size: 1.2em; margin-top: .25em;">The ScreenBloom UI</span>

                <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                		<li><img src="{{ base_s3_url }}/wowSlider/data/images/sb_ui_5.jpg" alt="Save Setting Presets" title="Save Setting Presets" id="wows1_0"/></li>
                		<li><img src="{{ base_s3_url }}/wowSlider/data/images/sb_ui_6.jpg" alt="Individual Bulb Settings" title="Individual Bulb Settings" id="wows1_1"/></li>
                		<li><img src="{{ base_s3_url }}/wowSlider/data/images/sb_ui_3.jpg" alt="Choose Your Display" title="Choose Your Display" id="wows1_2"/></li>
                		<li><img src="{{ base_s3_url }}/wowSlider/data/images/sb_ui_4.jpg" alt="bootstrap carousel" title="Split Your Display Into Zones" id="wows1_3"/></li>
                		<li><img src="{{ base_s3_url }}/wowSlider/data/images/sb_ui_2.jpg" alt="Set Min/Max Brightness" title="Set Min/Max Brightness" id="wows1_4"/></li>
                	</ul>
                	</div>
                <div class="ws_shadow"></div>
                </div>
            </div>
            <!-- ------------------------------------------------- -->
        </div>

        <div id="download-section" class="container section">
            <div id="download-info" class="animate">
                <div id="release-notes">
                    <span class="version">Version 2.2</span>
                </div>

                <a href="{{ base_s3_url }}/distribute/screenBloom_2.2_win.zip">
                <div id="windows-link" class="click-button download-btn" data-build="win" data-version="2.2">
                    Windows
                    <br>
                    <span class="download-size">7 MB</span>
                </div>
                </a>

                <a href="{{ base_s3_url }}/distribute/screenBloom_2.2_mac.zip">
                <div id="mac-link" class="click-button download-btn" data-build="mac" data-version="2.2">
                    Mac
                    <br>
                    <span class="download-size">11 MB</span>
                </div>
                </a>

                <div class="click-button prev-versions-button">Previous Versions</div>
                <div class="prev-versions-wrapper hidden">
                    <div class="prev-versions-section win">
                        <span>Win</span>
                        <a href="{{ base_s3_url }}/distribute/screenBloom_2.1_win.zip">
                            <div class="click-button prev-version-link download-btn" data-build="win" data-version="2.1">2.1</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenBloom_2.0_win.zip">
                            <div class="click-button prev-version-link download-btn" data-build="win" data-version="2.0">2.0</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenbloom_setup_v1.9.exe">
                            <div class="click-button prev-version-link download-btn" data-build="win" data-version="1.9">1.9</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenbloom_setup_v1.8.exe">
                            <div class="click-button prev-version-link download-btn" data-build="win" data-version="1.8">1.8</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenbloom_setup_v1.7.exe">
                            <div class="click-button prev-version-link download-btn" data-build="win" data-version="1.7">1.7</div>
                        </a>
                    </div>

                    <div class="prev-versions-section mac">
                        <span>Mac</span>
                        <a href="{{ base_s3_url }}/distribute/screenBloom_2.1_mac.zip">
                            <div class="click-button prev-version-link download-btn" data-build="mac" data-version="2.1">2.1</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenBloom_2.0_mac.zip">
                            <div class="click-button prev-version-link download-btn" data-build="mac" data-version="2.0">2.0</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenBloom_v1.9.zip">
                            <div class="click-button prev-version-link download-btn" data-build="mac" data-version="1.9">1.9</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenBloom_v1.8.zip">
                            <div class="click-button prev-version-link download-btn" data-build="mac" data-version="1.8">1.8</div>
                        </a>

                        <a href="{{ base_s3_url }}/distribute/screenBloom_v1.7.zip">
                            <div class="click-button prev-version-link download-btn" data-build="mac" data-version="1.7">1.7</div>
                        </a>
                    </div>
                </div>

                <div id="latest-version" class="section-title lobster poop color-animate">Latest Version</div>
            </div>

            <div id="download-section-title" class="section-title lobster color-animate">Download</div>
        </div>

        <div id="support-section" class="container section">
            <div id="support-section-title" class="section-title lobster color-animate">Support</div>

            <div class="container support-text" style="margin-top: 2em;">
                <span style="font-size: 1.5em;  color: #004d67;"><strong>Have a question about ScreenBloom?</strong></span>
                <span>
                    Check out the <strong style="color: #004d67;">FAQ</strong> below,
                    the <strong style="color: #004d67;"><a href="https://github.com/kershner/screenBloom" target="_blank">Github Repo <i class="fa fa-github"></i></a></strong>,
                    or send me an <strong style="color: #004d67;"><a href="mailto:tylerkershner@gmail.com">email</a></strong> directly.</span>
            </div>

            <div class="container support-text" style="margin-top: 2em;">
                <span style="font-size: 1.5em; color: #004d67;">Think ScreenBloom is a cool app?</span>
                <span style="margin-bottom: .5em;">Toss some beer money my way, if you'd like.</span>

                <!-- Shameless PayPal link -->
                <a href="https://www.paypal.me/tylerkershner" target="_blank">
                    <img class="paypal-btn animate-fast" alt="PayPal Donation Link" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/blue-pill-paypal-44px.png">
                </a>
            </div>

            <div id="faq-container">
                <div class="faq">
                    <div class="question raleway">System Requirements?</div>

                    <div class="answer">
                        ScreenBloom will run on just about anything, but the faster your CPU the better.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">What Kind of Resources Does ScreenBloom Consume?</div>

                    <div class="answer">
                        The fully installed application takes up roughly 20MB of disk space.
                        <br>
                        <br>
                        While running ScreenBloom lives in ~16MB of RAM and uses ~3-15%
                        of the CPU, with better CPUs being more efficient.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Performance Tips?</div>

                    <div class="answer">
                        ScreenBloom performance largely boils down to two factors.

                        <ul>
                            <li>
                                <div>Number of Lights Being Addressed</div>
                                <p>
                                    Each light adds another string of commands
                                    that the Hue bridge has to process before
                                    moving on to the next, so the fewer being
                                    addressed the more responsive ScreenBloom will be.
                                    <br><br>
                                    To address more than 2 bulbs at once, set a
                                    small (0.1s) <span style="font-weight: bold;">Update Buffer</span>.
                                    This tiny pause will be undetectable to you
                                    but will give your bridge enough time to comfortably
                                    process all the commands being thrown at it.
                                </p>
                            </li>

                            <li>
                                <div>Philips Hue Bridge Version</div>
                                <p>
                                    The Philips Hue Bridge V2.0
                                    (square with rounded corners) has much better
                                    internal hardware than the V1.0 Bridge (circular).
                                    It's able to process commands much faster and
                                    makes for a hugely more responsive ScreenBloom
                                    (and Hue in general) experience.
                                    <br>
                                    <br>
                                    For the best results, make sure you're running
                                    ScreenBloom with a 2.0 Bridge.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Trouble Connecting To The Hue Bridge?</div>

                    <div class="answer">
                        After hitting the Hue bridge button and clicking <strong>Register</strong>
                        you get the spinning loading icon but nothing happens...
                        <br>
                        <br>
                        This is most commonly caused by an antivirus software blocking ScreenBloom from either
                        syncing with the bridge or creating a config file.  You'll just need to whitelist
                        ScreenBloom in your antivirus program of choice.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">On a Mac and Can't Connect?</div>

                    <div class="answer">
                        If you're stuck at the spinning loader for the registration process
                        and on a Mac, you're probably running into a <strong style="color: #004d67;">permissions</strong> issue.
                        <br>
                        <br>
                        You'll need to run the <strong style="color: #004d67;">screenBloom.app</strong> package
                        (extracted from the downloaded .zip file) in a directory where you have full permissions.
                        The easiest solution is to just drag the package to your Desktop and run from there.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">ScreenBloom Error / Won't Start?</div>

                    <div class="answer">
                        Sometimes the config file that ScreenBloom creates can get
                        corrupted resulting in all kinds of nasty errors.
                        <br>
                        <br>
                        You can re-create your config from any ScreenBloom page.
                        <br>
                        <br>
                        <img src="{{ base_s3_url }}/images/regen_config.png" alt="ScreenBloom Regen Config Button">
                        <span style="display: block; text-align: center; font-size: .75em">Check the top right section of the page</span>
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Lights Not Dimming With Dark Scenes?</div>

                    <div class="answer">
                        Make sure your active bulbs have their <strong style="color: #004d67;">minimim-brightness</strong>
                        set to the level you'd like.
                        <br>
                        <br>
                        Each bulb can have its brightness levels individually adjusted in the <strong style="color: #004d67;">Bulbs Menu</strong>.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Using a High DPI / Resolution Screen?</div>

                    <div class="answer">
                        If you've got a high resolution display ScreenBloom might have trouble grabbing
                        an image of the entire screen.  This is due to a quirk in one of the program's dependencies.
                        <br>
                        <br>
                        Luckily the fix is very simple.  You just need to check <strong>Disable display scaling on high DPI settings</strong>
                        in the ScreenBloom executable's compatibility settings.
                        <br>
                        <br>
                        Right click on <strong>screenbloom.exe</strong>, click
                        <strong>properties</strong>, and find the <strong>Compatibility</strong> tab.  Refer to the image below.
                        <br>
                        <br>
                        <a href="{{ base_s3_url }}/images/display_scaling_tutorial.png" target="_blank">
                            <img class="tutorial-image" src="{{ base_s3_url }}/images/display_scaling_tutorial.png" alt="Display Scaling Compatibility Option">
                        </a>
                        <span style="display: block; text-align: center; font-size: .75em">
                            Find the file at the path highlighted <span style="color: blue;">blue</span>
                            and check the box highlighted <span style="color: red;">red</span>
                        </span>
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Updated From Previous Version And Getting New Error / UI Looks Weird</div>

                    <div class="answer">
                        Your browser might be using a cached copy of the code from the old version of ScreenBloom.
                        You just need to <strong>hard refresh</strong> your page and your cache will be cleared.

                        <div style="display: block; text-align: center; margin: 0 auto; max-width: 21em;">
                            <div style="float: left; margin: 1em;">
                            <span style="color: #004d67"><strong>Chrome</strong></span>:
                            <br>
                            Press <strong>CTRL + F5</strong>
                            </div>

                            <div style="float: left; margin: 1em;">
                            <span style="color: #004d67"><strong>Safari</strong></span>:
                            <br>
                            Press <strong>Opt + Cmd + E</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="faq">
                    <div class="question raleway">Can I Use ScreenBloom with Videogames?</div>

                    <div class="answer">
                        Definitely, but with one caveat.
                        <br>
                        <br>
                        Games need to be run in windowed mode to have their pixels parsed by
                        ScreenBloom.  Many games offer an official <strong style="color: #004d67;">Fullscreen Borderless Windowed</strong> mode which makes this process
                        very simple.
                        <br>
                        <br>
                        For everything else there is a free program available.
                        <a href="http://westechsolutions.net/sites/WindowedBorderlessGaming/" target="_blank">
                            <span id="borderless-link" class="click-button" style="padding: .5em 1em;">Windowed Borderless Gaming</span>
                        </a>
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Big Delays?</div>

                    <div class="answer">
                        Some users report large delays between light updates.  CPUs running ScreenBloom
                        at a high or variable speed can cause commands to be spammed at the Hue
                        bridge too quickly resulting in a mini DDOS attack and eventual slowdown.
                        <br>
                        <br>
                        Setting an <strong style="color: #004d67;">Update Buffer</strong> can resolve
                        the issue (located in the <span style="color: #004d67;">Update Speed</span> menu).
                        <br>
                        <br>
                        You'll want to experiment and find the lowest possible setting that improves ScreenBloom's responsiveness.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Can I Access ScreenBloom From a Mobile Device?</div>

                    <div class="answer">
                        ScreenBloom starts a tiny web server that hosts the application interface on your localhost
                        IP address in the example format below:
                    </div>

                    <div id="ip-demo">
                        <strong>192.168.0.X:5000</strong>
                    </div>

                    <div class="answer">
                        When you launch ScreenBloom your default browser will automatically access this address in a new window/tab.
                        <br>
                        <br>
                        Grab the address from your browser's URL bar (I just bookmark it) and head there on any device -
                        you'll have full control over the ScreenBloom process.
                        <br>
                        <br>
                        The web interface is responsive and lightweight so controlling ScreenBloom with a phone or tablet
                        is relatively painless.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ base_s3_url }}/wowSlider/engine/wowslider.js"></script>
    <script type="text/javascript" src="{{ base_s3_url }}/wowSlider/engine/script.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js"></script>
    <script type="text/javascript" src="{{ base_s3_url }}/js/screenbloom.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            screenBloom();
        });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60017232-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
    [{
      "@context" : "http://schema.org",
      "@type" : "SoftwareApplication",
      "name" : "ScreenBloom",
      "image" : "https://giant.gfycat.com/MixedPertinentAtlanticbluetang.gif",
      "url" : "https://github.com/kershner/screenbloom",
      "datePublished" : "2015-11-30",
      "operatingSystem" : ["win", "mac"],
      "applicationCategory" : "Sync Philips Hue lights",
      "downloadUrl" : ["{{ base_s3_url }}/distribute/screenBloom_2.2_win.zip"],
      "softwareVersion" : "2.2"
    }]
    </script>
</body>
</html>