$animation-speed: 0.6s;
$text-shadow: 1px 1px 2px #444;
$box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);

#kershner-music-player {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 78vh;
  color: #444;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;

  .songRow {
    .playerButton img {
      filter: drop-shadow(0px 1000px 0 #444);
      transform: translateY(-1000px);
    }

    &.selected,
    &:hover {
      .songRowColumn {
        .songOptionsBtn {
          img {
            filter: drop-shadow(0px 1000px 0 #fff);
            transform: translateY(-1000px);
          }
        }
      }
    }
  }
}

body.dark-mode {
  #kershner-music-player {
    color: #fff;

    .songRow {
      .playerButton img {
        filter: drop-shadow(0px 1000px 0 #fff);
        transform: translateY(-1000px);
      }
    }
  }
}

.fullscreen {
  .songListFilters,
  .songList,
  .video-btn-wrapper,
  .footer {
    display: none;
  }
}
