$animation-speed: 0.2s;

#kershner-music-player {
  position: relative;
  z-index: 1;
  color: #444;
  max-height: 50rem;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;
}

body.dark-mode {
  #kershner-music-player {
    color: #FFF;
  }
}