{% load kershner_tags %}

<!DOCTYPE html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tyler Kershner's website.">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% settings_value "BASE_S3_URL" %}/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{% settings_value "BASE_S3_URL" %}/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{% settings_value "BASE_S3_URL" %}/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{% settings_value "BASE_S3_URL" %}/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/main.css">
        {% block extra_head %}{% endblock %}

        <!-- Title -->
        {% if title %}<title>Tyler Kershner - {{ title }}</title>{% else %}<title>Tyler Kershner</title>{% endif %}

        <!-- react stuff -->
        <script defer="" src="{% settings_value "BASE_S3_URL" %}/color_doodle_dist/bundle.js.br"></script>
        <link href="{% settings_value "BASE_S3_URL" %}/color_doodle_dist/bundle.css" rel="stylesheet">
    </head>

    <body class="{% if request.GET.backgroundColor != "light" %}dark-mode{% endif %}">
        <!-- Content-->
        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>

    <!-- Footer -->
    {% block footer %}
        <div class="footer">
            <div class="footer-links">
                <div class="footer-link">
                    {% if request.resolver_match.url_name == 'music' %}
                    <a href="{% url 'home' %}" title="Home" class="preserve-params">
                        Home
                    </a>
                    {% else %}
                    <a href="{% url 'music' %}" title="Music" class="preserve-params">
                        Music
                    </a>
                    {% endif %}
                </div>

                <div class="footer-link">
                    <a href="https://www.github.com/kershner" target="_blank" title="Github">
                        Github
                    </a>
                </div>

                <div class="footer-link">
                    <a href="mailto:tylerkershner@gmail.com" target="_blank" title="Email">
                        Email
                    </a>
                </div>

                <a href="https://github.com/kershner/kershner_org" class="dynamic-color" target="_blank" title="View this website's code">
                    <div id="footer-cube" class="cube-grid">
                        <div class="cube cube1 dynamic-color"></div>
                        <div class="cube cube2 dynamic-color"></div>
                        <div class="cube cube3 dynamic-color"></div>
                        <div class="cube cube4 dynamic-color"></div>
                        <div class="cube cube5 dynamic-color"></div>
                        <div class="cube cube6 dynamic-color"></div>
                        <div class="cube cube7 dynamic-color"></div>
                        <div class="cube cube8 dynamic-color"></div>
                        <div class="cube cube9 dynamic-color"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endblock %}

        <!-- color grid react component -->
        <div id="color-grid"></div>

        <!-- JS -->
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/svgInject.min.js"></script>
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js"></script>
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/colorWave.js"></script>
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/portfolio.js"></script>
        {% block javascripts %}
        <script type="text/javascript">
            if (document.readyState === 'complete') {
                portfolio.init();
            } else {
                document.addEventListener('DOMContentLoaded', portfolio.init);
            }
        </script>

        {% include 'portfolio/includes/google_analytics_tag.html' %}

        {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>