{% load kershner_tags %}

<!DOCTYPE html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tyler Kershner's website.">

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% settings_value "BASE_S3_URL" %}/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{% settings_value "BASE_S3_URL" %}/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{% settings_value "BASE_S3_URL" %}/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{% settings_value "BASE_S3_URL" %}/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

        {# CSS #}
        <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/main.css">
        {% block extra_head %}{% endblock %}

        {# Title #}
        {% if title %}<title>Tyler Kershner - {{ title }}</title>{% else %}<title>Tyler Kershner</title>{% endif %}

        {# react color grid stuff #}
        <link href="{% settings_value "BASE_S3_URL" %}/react-apps/colorDoodle/color_doodle_dist/colorDoodle.css" rel="stylesheet">
    </head>

    <body class="{% if request.GET.backgroundColor != "light" %}dark-mode{% endif %}">
        {# Content#}
        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>

        {# color grid react component #}
        <div id="color-grid" data-default-state='{"cellSize": 40, "borderStyle": "hidden", "autoInt": 1100, "autoDur": 0.4, "autoOn": true, "menuOpen": false}'></div>

    {# Footer #}
    {% block footer %}
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-links">
                    <div class="footer-link-wrapper">
                        <div class="footer-link">
                            {% if request.resolver_match.url_name == 'home' %}
                            <a href="{% url 'home' %}" title="Projects" class="preserve-params">
                                Projects
                            </a>
                            {% else %}
                            <a href="{% url 'home' %}" title="Home" class="preserve-params">
                                Home
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="footer-link-wrapper">
                        <div class="footer-link">
                            <a href="{% url 'music' %}" title="Music" class="preserve-params">
                                Music
                            </a>
                        </div>

                        <a class="github-icon-link" href="https://github.com/kershner/kershner_org" class="dynamic-color" target="_blank" title="View this website's code">
                            <div>
                                {% include 'portfolio/includes/github_icon.html' %}
                            </div>
                        </a>
                    </div>

                    <div class="footer-link-wrapper">
                        <div class="footer-link">
                            <a href="mailto:tylerkershner@gmail.com" target="_blank" title="Email">
                                Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {# JS #}
        <script defer type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
        <script defer type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js"></script>
        <script defer type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/colorWave.js"></script>
        <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/portfolio.js"></script>
        {% block javascripts %}
            {% block extra_javascripts %}{% endblock %}
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    portfolio.init("{% settings_value 'BASE_S3_URL' %}");
                });
            </script>               
        {% endblock %}
        
        <script defer src="{% settings_value "BASE_S3_URL" %}/react-apps/colorDoodle/color_doodle_dist/colorDoodle.js.br"></script>

        {% include 'portfolio/includes/google_analytics_tag.html' %}
    </body>
</html>