{% extends 'portfolio/base.html' %}

{% block content %}
<div class="welcome-wrapper">
    <!-- Big Text Blurbs -->
    <section class="welcome">
        <h1>
            I'm <a href="https://www.github.com/kershner" target="_blank" class="dynamic-color big-name">Tyler Kershner.</a>
        </h1>

        <h1>
            A software developer in Ann Arbor, MI.
        </h1>

        <h1>
            Let's <a href="mailto:tylerkershner@gmail.com" class="dynamic-color big-call-to-action">work together!</a>
        </h1>
    </section>

    <!-- Cool Cube Grid thingy -->
    <div class="cube-grid">
        <div class="cube cube1 dynamic-color"></div>
        <div class="cube cube2 dynamic-color"></div>
        <div class="cube cube3 dynamic-color"></div>
        <div class="cube cube4 dynamic-color"></div>
        <div class="cube cube5 dynamic-color"></div>
        <div class="cube cube6 dynamic-color"></div>
        <div class="cube cube7 dynamic-color"></div>
        <div class="cube cube8 dynamic-color"></div>
        <div class="cube cube9 dynamic-color"></div>
    </div>
</div>

<!-- Projects -->
<a id="projects-wrapper-anchor"></a>
<div class="projects-wrapper"></div>

<!-- More Projects Btn -->
<div class="more-projects-btn-wrapper">
    <div id="more-projects-btn" class="generic-btn dynamic-color hidden">More Projects</div>
</div>
{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        portfolio.baseS3Url = '{{ base_s3_url }}';
        portfolio.projectsPerPage = {{ projects_per_page }};
        portfolio.currentProjectIndex = {{ projects_per_page }};
        portfolio.moreProjectsBtn.addEventListener('click', portfolio.moreProjectsClickEvent);
        portfolio.projectsHtml = {{ projects_html|safe }};

        portfolio.cubeClick();
    </script>
{% endblock %}