{% extends 'portfolio/base.html' %}
{% load kershner_tags %}

{% block content %}
<div class="welcome-wrapper">
    <!-- Big Text Blurbs -->
    <section class="welcome">
        <h1>
            I'm <a href="https://www.github.com/kershner" target="_blank" class="color-wave big-name" title="Tyler Kershner's Github">Tyler Kershner.</a>
        </h1>

        <h1>
            A software developer in Ann Arbor, MI.
        </h1>

        <h1>
            Let's <a href="mailto:tylerkershner@gmail.com" class="color-wave big-call-to-action" title="Tyler Kershner's email">work together!</a>
        </h1>
    </section>
</div>

<!-- Projects -->
<a id="projects-wrapper-anchor"></a>
{% include "portfolio/includes/nav.html" %}
<div class="projects-wrapper {% if request.GET.projectStyle == "grid" %}grid{% else %}list{% endif %}"></div>

<!-- More Projects Btn -->
<div class="more-projects-btn-wrapper" title="More projects">
    <div id="more-projects-btn" class="generic-btn dynamic-color hidden">More</div>
</div>
{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        portfolio.projectsPerPage = {{ projects_per_page }};
        portfolio.projectsHtml = {{ projects_html|safe }};
        portfolio.scrollEvents();
        portfolio.projectStyleToggles();
        portfolio.projectFilter();
        portfolio.searchSuggestions();
        portfolio.stickyNav.querySelector('.sticky-nav-title').addEventListener('click', (e) => {
            window.scrollTo(0, 0);
        });

        portfolio.filteredProjects = portfolio.projectsHtml;
    </script>
{% endblock %}