{% extends 'portfolio/base.html' %}

{% block extra_head %}
<script type="module" crossorigin src="/static/react-apps/musicPlayer/dist/assets/index.js"></script>
<link rel="stylesheet" crossorigin href="/static/react-apps/musicPlayer/dist/assets/index.css">
{% endblock %}

{% block content %}
{% load kershner_tags %}
<div class="video-btn-wrapper">
    <div id="old-video-toggle" class="dynamic-color">Videos</div>
</div>

<!-- YouTube embed -->
<div class="outer-music-video-wrapper hidden">
    <div class="music-video-wrapper"></div>
</div>

<!-- Player -->
<div id="kershner-music-player"></div>
{% endblock %}

{% block extra_javascripts %}
<script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/music.js"></script>
<script type="text/javascript">
    music.init();
</script>
{% endblock %}