<div id="{% if project.position == 0 %}first-project{% endif %}" class="project-wrapper {{ project.image_orientation }}" data-position="{{ project.position }}">
    <div class="left-content">
        <div class="project-icon">
            <img src="" class="{% if project.position > 3 %}pop-up{% endif %}" data-src="{{ base_s3_url }}/{{ project.icon }}">
        </div>
    
        <div class="project-title">{{ project.title }}</div>
        <div class="project-blurb">{{ project.blurb }}</div>
    
        <hr align="left" class="dynamic-color ${currentColor}">
    
        <div class="project-info"><div class="project-info-title">Technologies:</div>
            <div class="project-info-value">{{ project.technologies }}</div>
        </div>
        
        {% if project.extra_notes %}
        <div class="project-info">
            <div class="project-info-title">More:</div>
            <div class="project-info-value">{{ project.extra_notes }}</div>
        </div>
        {% endif %}
        
        <a href="{{ project.site_url }}" target="_blank">
            <div class="project-link-btn dynamic-color">Visit Site →</div>
        </a>
    </div>
    
    <div class="right-content">
        <div class="project-img-1 {% if not project.fields.image_1 %}hidden{% endif %}">
            <a href={{ base_s3_url }}/{{ project.image_1 }}" target="_blank">
                <img class="{% if project.position > 3 %}pop-up{% endif %} {{ project.drop_shadow }}" src="" data-src={{ base_s3_url }}/{{ project.image_1 }}">
            </a>
        </div>

        <div class="project-img-2 {% if not project.fields.image_2 %}hidden{% endif %}">
            <a href={{ base_s3_url }}/{{ project.image_2 }}" target="_blank">
                <img class="{% if project.position > 3 %}pop-up{% endif %} {{ project.drop_shadow }}" src="" data-src={{ base_s3_url }}/{{ project.image_2 }}">
            </a>
        </div>

        <div class="project-img-3 {% if not project.fields.image_3 %}hidden{% endif %}">
            <a href={{ base_s3_url }}/{{ project.image_3 }}" target="_blank">
                <img class="{% if project.position > 3 %}pop-up{% endif %} {{ project.drop_shadow }}" src="" data-src={{ base_s3_url }}/{{ project.image_3 }}">
            </a>
        </div>
    </div>
</div>