{% load kershner_tags %}

<div class="project-wrapper {{ project.image_orientation }}" data-position="{{ project.position }}">
    <div class="left-content">
        <div class="project-icon">
            <img src="{{ project.icon }}" alt="{{ project.title }} project icon" loading="lazy">
        </div>
    
        <div class="project-title color-wave" tabindex="0">{{ project.title }}</div>
        <div class="project-blurb">{{ project.blurb }}</div>
    
        <hr align="left" class="dynamic-color">
    
        <div class="project-info">
            <div class="project-info-section">
                <div class="project-info-section-title">Code</div>
                <div class="project-info-section-tags">
                    {% for tech in project.technologies %}
                    {% if tech.link %}
                    <a href="{{ tech.link }}" title="View the {{ tech.title }} code" target="_blank">
                        <div class="tech-tag">{{ tech.title }} {% include 'portfolio/includes/external_link_icon.html' %}</div>
                    </a>
                    {% else %}
                        <div class="tech-tag" tabindex="0" title="{{ tech.title }}">{{ tech.title }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="project-info-section">
                <div class="project-info-section-title">Tags</div>
                <div class="project-info-section-tags project-tags">
                    {% for tag in project.tags %}
                    <div class="tech-tag" tabindex="0" title="Filter by {{ tag.name }}">{{ tag.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        {% if project.extra_notes %}
        <div class="project-info">
            <div class="project-info-title">More</div>
            <div class="project-info-value">{{ project.extra_notes }}</div>
        </div>
        {% endif %}
        
        {% if project.site_url %}
        <a href="{{ project.site_url }}" target="_blank" title="View {{ project.title }}">
            <div class="project-link-btn dynamic-color">View →</div>
        </a>
        {% endif %}
    </div>
    
    <div class="right-content {% if project.drop_shadow %}drop-shadow{% endif %}">
        <div class="project-img-1 {% if not project.image_1 %}hidden{% endif %}">
            <a href="{{ project.site_url }}" target="_blank" title="{{ project.title }} first project image">
                <img src="{{ project.image_1 }}" alt="{{ project.title }} first project image" loading="lazy">
            </a>
        </div>

        <div class="project-img-2 {% if not project.image_2 %}hidden{% endif %}">
            <a href="{{ project.site_url }}" target="_blank" title="{{ project.title }} second project image">
                <img src="{{ project.image_2 }}" alt="{{ project.title }} second project image" loading="lazy">
            </a>
        </div>

        <div class="project-img-3 {% if not project.image_3 %}hidden{% endif %}">
            <a href="{{ project.site_url }}" target="_blank" title="{{ project.title }} third project image">
                <img src="{{ project.image_3 }}" alt="{{ project.title }} third project image" loading="lazy">
            </a>
        </div>
    </div>
</div>