{% load kershner_tags %}

<div id="{% if project.position == 0 %}first-project{% endif %}" class="project-wrapper {{ project.image_orientation }}" data-position="{{ project.position }}">
    <div class="left-content">
        <div class="project-icon">
            <img src="{% settings_value "BASE_S3_URL" %}/{{ project.icon }}" alt="{{ project.title }} project icon">
        </div>
    
        <div class="project-title color-wave">{{ project.title }}</div>
        <div class="project-blurb">{{ project.blurb }}</div>
    
        <hr align="left" class="dynamic-color">
    
        <div class="project-info">
            <div class="project-technologies">
                {% for tech in project.project_technologies %}
                    {% if tech.link %}
                    <a href="{{ tech.link }}" title="View the code" target="_blank">
                        <div class="tech-tag">{{ tech.title }} {% include 'portfolio/includes/external_link_icon.html' %}</div>
                    </a>
                    {% else %}
                        <div class="tech-tag">{{ tech.title }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        {% if project.extra_notes %}
        <div class="project-info">
            <div class="project-info-title">More</div>
            <div class="project-info-value">{{ project.extra_notes }}</div>
        </div>
        {% endif %}
        
        {% if project.site_url %}
        <a href="{{ project.site_url }}" target="_blank" title="View the project">
            <div class="project-link-btn dynamic-color">View →</div>
        </a>
        {% endif %}
    </div>
    
    <div class="right-content {% if project.drop_shadow %}drop-shadow{% endif %}">
        <div class="project-img-1 {% if not project.image_1 %}hidden{% endif %}">
            <a href="{% settings_value "BASE_S3_URL" %}/{{ project.image_1 }}" target="_blank" title="{{ project.title }} first project image">
                <img src="{% settings_value "BASE_S3_URL" %}/{{ project.image_1 }}" alt="{{ project.title }} first project image">
            </a>
        </div>

        <div class="project-img-2 {% if not project.image_2 %}hidden{% endif %}">
            <a href="{% settings_value "BASE_S3_URL" %}/{{ project.image_2 }}" target="_blank" title="{{ project.title }} second project image">
                <img src="{% settings_value "BASE_S3_URL" %}/{{ project.image_2 }}" alt="{{ project.title }} second project image">
            </a>
        </div>

        <div class="project-img-3 {% if not project.image_3 %}hidden{% endif %}">
            <a href="{% settings_value "BASE_S3_URL" %}/{{ project.image_3 }}" target="_blank" title="{{ project.title }} third project image">
                <img src="{% settings_value "BASE_S3_URL" %}/{{ project.image_3 }}" alt="{{ project.title }} third project image">
            </a>
        </div>
    </div>
</div>