$black: #202123;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, sans-serif;
}

%box-shadow {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none !important;
}

.doodle-button {
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
  background: unset;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    background: #FFF;
    color: $black;
  }

  &.expand-menu-btn {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: $black;
    color: #FFF;
  }

  &.close-menu-btn {
    align-self: flex-end;
  }
}

.doodle-squares {
  display: flex;
  flex-wrap: wrap;

  button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.doodle-controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: lighten($black, 8);
  padding: 1.5rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: 1.25rem;
  @extend %box-shadow;

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1.5rem;
    border: none;
    &:last-of-type {
      margin-bottom: 5rem;
    }

    legend {
      padding: 0;
      font-weight: bold;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0.25rem;
      width: 100%;
      font-size: 0.9rem;

      .label-group {
        margin: 0.25rem 0;
      }
    }
  }

  select {
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 0.75rem;
    padding: 0.1rem 0.25rem;
  }

  input {
    padding: 0;
    cursor: pointer;

    &[type="range"] {
      margin: 0.25rem auto;
      width: 85%;
      transform: scale(1.2);
    }
    &[type="checkbox"] {
      transform: scale(1.75);
    }
  }

  .doodle-radio {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;

    input[type="radio"] {
      transform: scale(1.5);
    }
    label {
      padding-left: 0.5rem;
      font-size: 0.9rem;
    }
  }

  .menu-buttons {
    margin: 1rem auto;

    button {
      margin: 0.25rem;
    }
  }
}