$black: #202123;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

%box-shadow {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none !important;
}

.doodle-button {
  cursor: pointer;

  &.expand-menu-btn {
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
  }

  &.close-menu-btn {
    align-self: flex-end;
  }
}

.doodle-squares {
  display: flex;
  flex-wrap: wrap;

  button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.doodle-controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: lighten($black, 8);
  padding: 1.5rem;
  overflow-y: auto;
  border-radius: 0.2rem;
  color: #FFF;
  @extend %box-shadow;

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 1rem 0;
    &:not(:last-of-type) {
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }

    legend {
      padding: 0;
      font-weight: bold;
    }

    .input-group {
      display: flex;
      margin: 0.2rem 0;
      width: 100%;
      font-size: 0.85rem;

      .label-group {
        align-self: center;
        flex-shrink: 0;
        width: 5rem;
        padding-right: 0.5rem;
      }
    }
  }

  select {
    cursor: pointer;
    width: 100%;
  }

  input {
    padding: 0;
    cursor: pointer;

    &[type="range"] {
      width: 100%;
    }
  }
}