body {
  margin: 0;
  overflow: hidden;
}

%box-shadow {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.doodle-squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  button {
    background-color: #FFF;
    border: 1px solid transparent;
  }
}

.doodle-controls {
  position: fixed;
  background-color: #FFF;
  display: inline-flex;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  height: 12rem;
  width: 15rem;
  overflow-y: auto;
  border-radius: 0.2rem;
  @extend %box-shadow;

  fieldset {
    border: none;
    padding: 0;
    width: 100%;

    input {
      cursor: pointer;

      &[type="range"] {
        width: 100%;
      }
    }
  }
}