.player-wrapper .player .playlist .playlist-select div {
  border: 1px solid #8c53c6;
}

.music-video-wrapper iframe, .player-wrapper .player .playlist {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.levitate {
  -webkit-animation: levitate 3s infinite;
}

@keyframes levitate {
  0% {
    -webkit-transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
  }
}
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 #202020;
  background: #8c53c6;
  border-radius: 1px;
  border: 0 solid #202020;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #202020;
  border: 0 solid #8c53c6;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #8c53c6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8c53c6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 #202020;
  background: #8c53c6;
  border-radius: 1px;
  border: 0 solid #202020;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 #202020;
  border: 0 solid #8c53c6;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #8c53c6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8c53c6;
  border: 0 solid #202020;
  border-radius: 2px;
  box-shadow: 0 0 0 #202020;
}
input[type=range]::-ms-fill-upper {
  background: #8c53c6;
  border: 0 solid #202020;
  border-radius: 2px;
  box-shadow: 0 0 0 #202020;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0 0 0 #202020;
  border: 0 solid #8c53c6;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #8c53c6;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #8c53c6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8c53c6;
}

@media (min-width: 700px) {
  .player-wrapper {
    margin-top: 3em;
  }
}
.player-wrapper .player {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 50em;
}
.player-wrapper .player .playlist {
  max-height: 50vh;
  min-height: 35vh;
  max-width: 25em;
  margin: 0 auto;
  margin-bottom: 2em;
  padding-bottom: 2.5em;
  overflow: auto;
  background-color: #FFF;
}
.player-wrapper .player .playlist::-webkit-scrollbar {
  width: 0.25em;
}
.player-wrapper .player .playlist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.player-wrapper .player .playlist::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.player-wrapper .player .playlist .playlist-select {
  display: flex;
  width: 100%;
}
.player-wrapper .player .playlist .playlist-select div {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  width: 50%;
  background-color: #665CCA;
  text-align: center;
  color: #FFF;
  font-size: 1.3em;
  -webkit-transition: all 0.09s ease-in-out;
  -moz-transition: all 0.09s ease-in-out;
  -o-transition: all 0.09s ease-in-out;
  transition: all 0.09s ease-in-out;
}
.player-wrapper .player .playlist .playlist-select div.active {
  background-color: #8c53c6;
}
.player-wrapper .player .playlist .playlist-select div:hover {
  background-color: #7239ad;
}
.player-wrapper .player .playlist .amplitude-song-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em;
  background-color: #FFF;
  color: #999999;
  font-weight: bold;
  -webkit-transition: all 0.09s ease-in-out;
  -moz-transition: all 0.09s ease-in-out;
  -o-transition: all 0.09s ease-in-out;
  transition: all 0.09s ease-in-out;
}
.player-wrapper .player .playlist .amplitude-song-container:hover {
  color: white;
  background-color: #665CCA;
}
.player-wrapper .player .playlist .amplitude-song-container.amplitude-active-song-container {
  background-color: #8c53c6;
  color: #FFF;
}
.player-wrapper .player .player-bottom .player-time-container {
  display: flex;
}
.player-wrapper .player .player-bottom .player-time-container .current-time,
.player-wrapper .player .player-bottom .player-time-container .duration {
  margin: 0 0.5em;
  line-height: 50px;
  color: #999999;
  font-weight: bold;
}
.player-wrapper .player .player-bottom .player-time-container .progress-container {
  width: 80%;
}
.player-wrapper .player .player-bottom .player-control-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div {
  width: 40px;
  height: 40px;
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls .amplitude-mute, .player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-next, .player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-prev, .player-wrapper .player .player-bottom .player-control-container .player-repeat-container div {
  width: 30px;
  height: 30px;
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container div {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.5em;
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container .amplitude-repeat-on {
  background: url(../img/repeat-on.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container .amplitude-repeat-off {
  background: url(../img/repeat-off.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container .amplitude-shuffle-on {
  background: url(../img/shuffle-on.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-repeat-container .amplitude-shuffle-off {
  background: url(../img/shuffle-off.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 10em;
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div {
  display: inline-block;
  margin: 0 0.25em;
  cursor: pointer;
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-paused {
  background: url(../img/play.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-playing {
  background: url(../img/pause.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-prev {
  background: url(../img/prev.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-central-control-container .player-central-controls div.amplitude-next {
  background: url(../img/next.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls .amplitude-mute {
  display: inline-block;
  margin-right: 0.5em;
  cursor: pointer;
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls .amplitude-mute.amplitude-muted {
  background: url(../img/mute.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls .amplitude-mute.amplitude-not-muted {
  background: url(../img/volume.png);
}
.player-wrapper .player .player-bottom .player-control-container .player-volume-controls .amplitude-volume-slider {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  width: 70%;
}
.player-wrapper .player .player-bottom .player-meta-container {
  margin-top: 1em;
  margin-bottom: 4em;
  text-align: center;
}
.player-wrapper .player .player-bottom .player-meta-container .now-playing-name {
  display: block;
  color: #8c53c6;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}
.player-wrapper .player .player-bottom .player-meta-container .now-playing-artist {
  color: #999999;
  font-size: 1.5em;
}

.music-video-blurb {
  margin: 0.5em auto;
  margin-bottom: 3em;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.outer-music-video-wrapper {
  margin: 0 auto;
  max-width: 60em;
}

.music-video-wrapper {
  position: relative;
  text-align: center;
  padding-bottom: 56.25%;
  max-width: 100%;
}
.music-video-wrapper iframe {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=music.css.map */
