html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.project-wrapper .left-content hr {
  background-image: linear-gradient(to right top, #8c53c6, #854dc0, #7f46b9, #7840b3, #7239ad);
}

.project-wrapper .right-content img, .project-wrapper .left-content a .project-link-btn, .project-wrapper .left-content .project-icon img {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.levitate {
  -webkit-animation: levitate 3s infinite;
}

@keyframes levitate {
  0% {
    -webkit-transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  color: #202020;
}

.hidden {
  display: none;
}

.purple {
  color: #8c53c6;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #8c53c6;
}
a:hover {
  color: #7239ad;
}

#page-wrapper .particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.welcome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.welcome-wrapper section.welcome {
  padding: 1em;
  max-width: 100%;
}
.welcome-wrapper section h1 {
  position: relative;
  z-index: 1;
  font-size: 2em;
  margin: 0.5em auto;
  font-family: "Montserrat", sans-serif;
}
.welcome-wrapper .chevron-down {
  position: absolute;
  bottom: 0;
  max-width: 2.25em;
}

@media (min-width: 700px) {
  .welcome-wrapper section.welcome {
    max-width: 50em;
  }
  .welcome-wrapper section h1 {
    font-size: 4em;
  }
  .welcome-wrapper .chevron-down {
    max-width: 4em;
  }
}
.project-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5em;
  padding-left: 1.5em;
  max-width: 1280px;
}
@media (min-width: 700px) {
  .project-wrapper {
    padding: 0 3em;
  }
}
.project-wrapper .left-content {
  width: 33.33%;
  min-width: 300px;
}
.project-wrapper .left-content .project-icon img {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 0.75em;
}
.project-wrapper .left-content .project-title {
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  font-size: 2.5em;
}
.project-wrapper .left-content .project-blurb {
  color: #999999;
  font-size: 1.4em;
  line-height: 1.4em;
}
.project-wrapper .left-content hr {
  margin: 1em 0;
  border: 0;
  width: 50%;
  height: 1px;
}
.project-wrapper .left-content .project-info {
  margin: 0.25em auto;
  font-size: 1.1em;
}
.project-wrapper .left-content .project-info .project-info-title {
  display: inline-block;
  font-weight: bold;
  color: #202020;
}
.project-wrapper .left-content .project-info .project-info-value {
  display: inline-block;
  color: #999999;
}
.project-wrapper .left-content a {
  text-decoration: none;
}
.project-wrapper .left-content a .project-link-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -10px;
  height: 50px;
  font-size: 1.5em;
  line-height: 48px;
  color: #FFF;
  border-radius: 100px;
  background-color: #8c53c6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.project-wrapper .left-content a .project-link-btn:hover {
  background-color: #7239ad;
  padding: 0 3em;
  text-align: right;
}
.project-wrapper .right-content {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 840px;
  margin-left: 20px;
}
.project-wrapper .right-content div {
  display: inline-block;
  margin: 0.5em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.project-wrapper .right-content div:first-child, .project-wrapper .right-content div:last-child {
  align-self: flex-start;
}
.project-wrapper .right-content div.project-img-2 {
  display: none;
  z-index: 2;
  margin-left: -1.5em;
  margin-right: -1.5em;
}
@media (min-width: 800px) {
  .project-wrapper .right-content div.project-img-2 {
    display: inline-block;
    align-self: flex-end;
  }
}
.project-wrapper .right-content div img {
  display: none;
}
.project-wrapper .right-content img {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 0.75em;
}

@media (min-width: 480px) {
  .project-wrapper .right-content {
    display: flex;
  }
  .project-wrapper .right-content div.project-img-1 img {
    display: block;
  }
}
@media (min-width: 700px) {
  .project-wrapper .right-content div.project-img-2 img {
    display: block;
  }
}
@media (min-width: 1000px) {
  .project-wrapper .right-content div.project-img-3 img {
    display: block;
  }
}
.footer {
  padding-top: 7em;
  padding-bottom: 1em;
  width: 100%;
}
.footer .footer-links {
  text-align: center;
}
.footer .footer-links .footer-link {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .footer-links .footer-link:hover {
  transform: scale(1.3);
}
.footer .footer-links .footer-link a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #202020;
}
.footer .footer-links .footer-link a:hover {
  color: #7239ad;
}
.footer .footer-icons {
  text-align: center;
}
.footer .footer-icons a {
  text-decoration: none;
}
.footer .footer-icons .footer-icon {
  margin: 1em;
  max-width: 5em;
  display: inline-block;
}
.footer .footer-icons .footer-icon img {
  position: relative;
  z-index: 1;
  width: 100%;
}

/*# sourceMappingURL=portfolio.css.map */
