{% load kershner_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% block extra_meta %}{% endblock%}
  <title>{% block title %}Tyler's Pi Stuff{% endblock %}</title>
  <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/pi_stuff.css">
</head>

<body class="{% block body_class %}{% endblock %}">
  <div id="display-message" class="display-message"></div>
  {% block content %}{% endblock %}

  <script type="text/javascript">
    {% block window_vars %}{% endblock %}
  </script>

  {% block page_script %}{% endblock %}
</body>
</html>