{% load kershner_tags %}

<div class="quiz-modal hidden">
    <div class="quiz-modal-content">
        <div class="quiz-modal-controls">
            <button id="close-modal" title="Close this modal">Close</button>
        </div>

        <h1 class="title secondary-font">Quiz limit!</h1>

        <p class="blurb">The OpenAI API unfortunately costs money to use!</p>
        <p class="blurb">There is a {% settings_value "QUIZ_LIMIT_PER_DAY" %} quiz per day limit.</p>

        <hr class="spacer">

        <p>Next free quiz available: <strong>{{ next_quiz_time }}</strong></p>
    </div>
</div>