{% if quizzes %}
{% if quizzes.paginator.num_pages > 1 %}
    <div class="pagination">
    {% if quizzes.has_previous %}
        <a href="?page={{ quizzes.previous_page_number }}" title="Previous page"><button>&laquo;</button></a>
    {% endif %}

    {% for page_num in quizzes.paginator.page_range %}
        {% if quizzes.number == page_num %}
            <button class="active"><span>{{ page_num }}</span></button>
        {% elif page_num > quizzes.number|add:'-5' and page_num < quizzes.number|add:'5' %}
            <a href="?page={{ page_num }}" title="Go to page {{ page_num }}"><button>{{ page_num }}</button></a>
        {% elif page_num == quizzes.paginator.num_pages or page_num == 1 %}
            <a href="?page={{ page_num }}" title="Go to page {{ page_num }}"><button>{{ page_num }}</button></a>
        {% else %}
            <button class="disabled"><span>...</span></button>
        {% endif %}
    {% endfor %}

    {% if quizzes.has_next %}
        <a href="?page={{ quizzes.next_page_number }}" title="Next page"><button>&raquo;</button></a>
    {% endif %}
    </div>
{% endif %}
{% endif %}