{% if quiz %}
    {% include 'ai_quiz/includes/quiz_tags.html' %}
{% endif %}

<div class="quiz-controls">
    {% if quiz %}
    <button id="copy-to-clipboard" title="Click to copy the current URL">Copy URL</button>
    <button title="Click to export this quiz to CSV"><a href="{% url 'export-ai-quiz' quiz_id=quiz.uniq_id %}">Export CSV</a></button>
        {% if user.is_superuser %}
        <a href="{{ quiz.get_admin_url }}" title="View admin page for this quiz"><button>Admin</button></a>
        {% endif %}
    {% else %}
        {% if user.is_superuser %}
        <a href="{% url 'admin:ai_quiz_aiquiz_changelist' %}" title="View the quiz admin"><button>Admin</button></a>
        {% endif %}
    {% endif %}

    {% if request.resolver_match.url_name != 'list-ai-quiz' %}
        <a href="{% url 'list-ai-quiz' %}" title="View and search all quizzes"><button>View all</button></a>
    {% endif %}

    {% if request.resolver_match.url_name != 'ai-quiz' %}
    <a href="{% url 'ai-quiz' %}" title="Return home"><button>Home</button></a>
    {% endif %}

    {% if search_form %}
    <a href="{% url 'list-ai-quiz' %}"><button title="Clear filters">Clear filters</button></a>
    {% endif %}
</div>
