<form id="quiz-form" method="post" action="{% url 'ai-quiz' %}" class="full-width">
    {% csrf_token %}

    <h2 class="secondary-font">Generate a quiz about
        <input type="{{ form.subject.widget.input_type }}" name="{{ form.subject.name }}"
               value="{% if form.subject.value %}{{ form.subject.value }}{% endif %}"
               title="Enter a subject for a quiz.  Anything!" maxlength="{{ form.subject.field.max_length }}"
               required="{{ form.subject.field.required }}" id="{{ form.subject.id_for_label }}">
    </h2>

    <div class="form-inner">
        <div class="form-controls">
            <div class="form-control">
                <div class="form-label">
                    {{ form.num_questions.label_tag }}
                    {% include 'includes/tooltip.html' with text='Choose the number of questions you want for your quiz. The quiz content will vary based on your selection.' %}
                </div>
            {{ form.num_questions}}
            </div>

            <div class="form-control">
                <div class="form-label">
                    {{ form.temperature.label_tag }}
                    {% include 'includes/tooltip.html' with text='A higher temperature value means more creative and varied responses, while a lower value will generate more predictable and conservative results.' %}
                </div>
            {{ form.temperature}}
            </div>
        </div>

        {{ form.user_agent}}

        <button type="submit" title="Click to generate a quiz!">Create Quiz</button>
    </div>
</form>