%text-shadow
  text-shadow: 1px 1px 1.2px #202123

.project-position-controls
  display: inline-flex
  flex-direction: column

  div
    font-size: 2em
    line-height: 1.01em

.extra-admin-controls
  .button
    padding: 0.25rem .5rem
    display: inline-block

.admin-img
  margin: 1rem 0
  img
    width: 5rem
    height: 5rem
    object-fit: cover

/* Autocomplete filter styles */
.autoComplete_wrapper
  position: relative
  padding: 0 .5rem
  margin-bottom: 0.25rem

  input
    cursor: pointer
    background: transparent
    color: white
    border: 1px solid var(--border-color)
    border-radius: 0.2rem
    padding: 0.25rem 0
    &::placeholder
      padding-left: 0.5rem

  ul
    z-index: 1
    position: absolute
    background: var(--body-bg)
    max-height: 10rem
    overflow-y: scroll
    width: 100%
    padding: 0 !important
    border-radius: 0.2rem
    border: 1px solid white
    &:last-child
      border-bottom: 1px solid white !important

    li
      cursor: pointer
      padding-left: 0.75rem !important

      &:hover
        background-color: var(--body-quiet-color)
        color: var(--body-bg)

#changelist-filter
  flex: 0

  .autoComplete_wrapper
    margin-top: -8px
    &:last-child
      margin-bottom: 0.5rem

.module caption,
.breadcrumbs,
#changelist-filter h2,
.module h2,
.submit-row,
.submit-row input
  @extend %text-shadow

#header
  overflow: visible

#user-tools
  details
    display: inline-block
  
.admin-utils
  position: relative
  cursor: pointer
  padding: 0.5rem

  .admin-utils-content
    position: absolute
    top: 100%
    right: 0
    display: none
    border: 1px solid var(--border-color)
    padding: 0.5rem
    min-width: 5rem
    background: var(--darkened-bg)
    border-radius: 0.2rem

    button
      width: 10rem
      padding: 0.5rem 0.25rem

  &[open] .admin-utils-content
    display: block
