.project-position-controls
  display: inline-flex
  flex-direction: column

  div
    font-size: 2em
    line-height: 1.01em

.extra-admin-controls
  .button
    padding: 0.25rem .5rem
    display: inline-block

.admin-img
  margin: 1rem 0
  max-width: 10rem
  img
    width: 100%