@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Source+Sans+Pro&display=swap')

$quiz-black: #202123
$quiz-grey: lighten($quiz-black, 12)

.hidden
  display: none !important

%font-primary
  font-family: 'Source Sans Pro', sans-serif
  letter-spacing: .025rem
%font-secondary
  font-family: 'Gloock', serif
  letter-spacing: .075rem

.full-width
  max-width: 100%
.shortened-width
  max-width: 40rem

body
  background-color: $quiz-black
  color: white
  padding: 0.5rem
  @extend %font-primary
  font-size: 1.15rem

hr
  margin: 0
  border: 0.1rem solid white

a
  color: white
  text-decoration: none

.secondary-font
  @extend %font-secondary

.title
  margin: 0

.blurb
  margin: 0.25rem 0
  font-size: 1rem
  max-width: 30rem

  a
    text-decoration: underline

button
  @extend %button-styles

.question
  margin: 1rem auto

  .question-text
    padding: 0.5rem
    font-weight: bold

  .answer
    display: inline-block
    margin-left: 1rem

    &.obscured
      cursor: pointer
      user-select: none
      filter: blur(5px)
      will-change: filter

      a
        pointer-events: none

    .answer-text
      padding: 0.5rem

      .answer-source
        font-size: 0.75rem
        a
          text-decoration: underline

%form-input-properties
  background: none
  background-color: $quiz-black
  color: white
  border: 0.1rem solid white
  border-radius: 0.25rem

form
  display: inline-block
  margin-bottom: 2rem

.form-controls
  display: flex

  .form-control
    display: flex
    flex-direction: column
    margin-right: 1rem

    &:last-of-type
      margin-right: 0

textarea[name="user_agent"]
  display: none

input[name="subject"]
  background: none
  border: none
  border-bottom: 0.2rem solid white
  font-size: 2rem
  min-width: 17rem
  @extend %form-input-properties

select
  cursor: pointer
  padding: 0.25rem
  font-size: 1rem
  font-weight: bold
  @extend %form-input-properties
  border: none !important

  option
    @extend %form-input-properties

    &:checked
      background-color: white
      color: $quiz-black

%button-styles
  cursor: pointer
  margin: 0.5rem 0
  padding: 0.25rem 0.75rem
  font-size: 1rem
  line-height: 1rem
  font-weight: bold
  @extend %form-input-properties

  &:hover,
  &.active
    color: $quiz-black
    background: white

button[type="submit"]
  display: block
  padding: .5rem 2rem !important
  font-size: 1.25rem !important
  line-height: 1.25rem !important

.quiz-widget-wrapper
  display: inline-block
  position: relative
  width: 100%
  padding-top: 0.5rem

  .quiz-widget-wrapper-inner
    overflow: auto
    max-height: 40rem

  h3, ul
    margin: 0.25rem auto
  li a
    display: inline-block

.quiz-wrapper
  display: inline-flex
  margin: .25rem
  text-decoration: none

  .quiz
    display: flex
    background-color: $quiz-grey
    border-radius: 0.2rem
    font-size: 1rem
    line-height: 2rem

    &:hover
      background-color: white
      color: $quiz-black
      font-weight: bold

    .quiz-subject
      padding: 0
      padding-left: 0.5rem

    .quiz-num-questions
      margin-left: .5rem
      padding: 0 .5rem
      font-weight: bold
      font-size: 0.85rem
      @extend %font-secondary

.quiz-control-widget
  display: inline-block
  padding: 0.25rem 1rem
  @extend %form-input-properties

  &.share
    border: none
    padding-top: 0
    padding-left: 0

.share
  padding-top: 0.5rem
  button
    display: block
    font-weight: 400

.quiz-settings
  display: flex
  padding: 1rem auto
  flex-direction: column
  max-width: 20rem
  font-size: 0.95rem

  .quiz-setting
    display: flex
    padding-bottom: 0.5rem
    margin: 0.25rem 0
    justify-content: space-between
    border-bottom: 1px dashed white

    &:last-of-type
      border-bottom: none

    .quiz-setting-label
      text-align: left
      width: 100%
    .quiz-setting-value
      width: 100%
      text-align: left
      padding-left: 1rem

.loading-spinner
  justify-content: center
  align-items: center
  margin: 1rem 0

.spinner
  border: 4px solid white
  border-top-color: $quiz-black
  border-radius: 50%
  width: 24px
  height: 24px
  animation: spin 0.8s linear infinite

@keyframes spin
  to
    transform: rotate(360deg)
