// Variables
$color-loading-border: rgba(255, 255, 255, 0.3)
$color-highlight: #F2E530
$error: #ff6b6b
$alternate-dark: lighten(#000, 10)
$border-width: 0.3rem
$border-radius: 0.2rem

$primary-font-family: Helvetica, Arial, sans-serif
$secondary-font-family: Georgia, serif
  
body 
  margin: 0
  padding: 0
  background: #000
  font-family: $primary-font-family
  color: #FFF

hr
  margin: 2rem 0
  height: $border-width
  background-color: $color-highlight
  border-radius: $border-radius
  border: none

a
  color: $color-highlight
  text-decoration: none
  // border-bottom: $border-radius solid $color-highlight
  text-decoration: underline
  text-decoration-thickness: 0.1rem
  font-weight: bold

  &:hover
    color: darken($color-highlight, 20%)
  
.text-highlight
  color: $color-highlight

.less-margin
  margin: 0.25rem 0

.extra-margin-bottom
  margin-bottom: 4rem

.view-container 
  position: relative
  display: flex
  flex-direction: column

.view-title
  font-family: $secondary-font-family
  color: #FFF
  margin: 0.5rem
  margin-left: 1rem

.map-container 
  position: relative
  top: 3px
  overflow: hidden

#worldMap 
  width: 100%
  height: 100%
  object-fit: contain

#regionMap 
  width: 100%
  height: auto
  object-fit: contain
  cursor: pointer

canvas 
  position: absolute
  top: 0
  left: 0
  pointer-events: none

.hidden 
  display: none !important

.loading
  display: flex
  align-items: center
  justify-content: center
  min-height: 40vh
  padding: 1rem
  border-radius: 0.5rem

  .spinner
    width: 5rem
    height: 5rem
    border: 0.1875rem solid $color-loading-border
    border-top-color: $color-highlight
    border-radius: 50%
    animation: spin 1s linear infinite

@keyframes spin
  to
    transform: rotate(360deg)

.error 
  color: $error

// Marker base styles
%marker-base
  position: absolute
  transform: translate(-50%, -50%)
  pointer-events: none

// Mixin for pulse animation
@mixin pulse-animation($scale: 1.5, $opacity: 1.0, $duration: 1.5s)
  animation: pulse $duration infinite ease-in-out

  @keyframes pulse
    0%
      transform: translate(-50%, -50%) scale(1)
    50%
      transform: translate(-50%, -50%) scale($scale)
    100%
      transform: translate(-50%, -50%) scale(1)

// Styles for regional and world map markers
%marker-base
  position: absolute
  transform: translate(-50%, -50%)

// Mixin for pulse animation
@mixin pulse-animation($scale: 1.5, $opacity: 1.0, $duration: 1.5s)
  animation: pulse $duration infinite ease-in-out

  @keyframes pulse
    0%
      transform: translate(-50%, -50%) scale(1)
    50%
      transform: translate(-50%, -50%) scale($scale)
    100%
      transform: translate(-50%, -50%) scale(1)

// Styles for regional and world map markers
$marker-size: 6px
$marker-recent-size: 16px
$marker-world-size: 24px

.log-marker, .world-marker
  @extend %marker-base

.log-marker
  width: $marker-size
  height: $marker-size
  border-radius: 50%
  background-color: $color-highlight
  cursor: pointer
  pointer-events: auto

  &:hover
    width: $marker-recent-size
    height: $marker-recent-size

  &.recent
    width: $marker-recent-size
    height: $marker-recent-size
    @include pulse-animation

  &.poi
    background-color: transparent
    
    &::before
      content: attr(data-poi-emoji)
      font-size: $marker-size * 3
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

.world-marker
  height: $marker-world-size
  width: $marker-world-size
  border: 1px solid white
  border-radius: 50%

  &.recent
    @include pulse-animation($scale: 1.7, $opacity: 0.5)

.capital-marker
  position: absolute
  width: 0
  height: 0
  z-index: 10
  transform: translate(-50%, -50%)

.capital-marker::before
  content: ''
  position: absolute
  width: 24px
  height: 24px
  background-color: gold
  border: 1px solid black
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)
  transform: translate(-50%, -50%)

.title
  margin: 0
  font-family: $secondary-font-family
  color: $color-highlight
  display: inline-block
  font-weight: bold

  img
    position: absolute
    top: 0
    left: 0
    width: 3rem
  
  span
    z-index: 1
    padding-left: 3.25rem

.tabs
  input
    display: none

  label
    padding: 10px 14px
    cursor: pointer
    display: inline-block
    position: relative
    z-index: 1

    &::after
      content: ''
      display: block
      width: 0
      height: $border-width
      background: $color-highlight
      position: absolute
      bottom: -$border-width
      left: 50%
      transform: translateX(-50%)
      border-radius: $border-radius

  .tab-content
    display: none
    padding-top: 1rem

  // "Selected" styles
  @for $i from 1 through 3
    // tab label
    input:nth-of-type(#{$i}):checked ~ label:nth-of-type(#{$i})
      font-weight: bold
      color: #fff

      &::after
        width: 100%

    // tab content
    input:nth-of-type(#{$i}):checked ~ .tab-content:nth-of-type(#{$i})
      display: block

#twitch-container 
  position: relative
  width: 100%
  padding-top: 56.25%

  @media (max-width: 699px)
    padding-top: 100%
  
  #twitch-embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.current-status
  padding: 1rem
  border-top: $border-width solid $color-highlight
  
  h2
    margin: 0
    font-family: $secondary-font-family
    color: $color-highlight

  p
    margin: 0

  .time-string
    display: block
    font-size: 1.2rem
    font-weight: bold

.tooltip
  position: fixed
  background: #000
  color: #fff
  padding: 0.25rem 1rem
  min-width: 12rem
  border-radius: $border-radius
  border: 0.15rem solid $color-highlight
  transform: translate(-50%, -100%)
  opacity: 0
  font-size: 0.8rem
  pointer-events: none
  
  &.visible
    opacity: 1
    z-index: 10
    pointer-events: auto

  .row
    display: flex
    padding: 0.25rem 0
    border-bottom: 1px solid $alternate-dark

    &:last-of-type
      border-bottom: none
    
    .key
      font-weight: bold
      width: 40%

    .value
      width: 60%
      display: flex

      span
        width: 100%
        &:first-of-type
          width: 2rem
          display: flex
          justify-content: center
        &:last-of-type
          position: relative
          top: 3px
          
.about-tabs
  [data-tab="1"]
    margin-left: 1rem

  h2
    margin: 0
    font-family: $secondary-font-family
    color: $color-highlight
    font-size: 2rem

  h4
    display: inline-block
    margin: 1rem 0
    margin-bottom: 0
    font-size: 1rem
    padding: 0.5rem 1rem
    border-left: $border-width solid $color-highlight
    border-radius: $border-radius
    background: $alternate-dark

  h5
    margin: 1rem 0
    display: block
    font-family: $secondary-font-family
    font-weight: bold
    font-size: 1rem
  
  ul
    margin: 1rem 0

    li
      margin: 0.2rem 0
  
  .tab-content
    padding: 0.5rem 1rem
    max-width: 50rem

  .about-img
    border: 0.2rem solid $color-highlight
    margin: 1rem 0
    max-width: 30rem
    border-radius: $border-radius

    &.no-border
      border: none

    img
      width: 100%

.styled-table
  width: 100%
  border-collapse: collapse
  th, td
    padding: 10px
    text-align: left
  th
    border-bottom: 0.2rem solid $color-highlight
  tr:nth-child(even)
    background: $alternate-dark
  tr:hover
    background: $alternate-dark

.commands-table
  td:first-of-type
    font-weight: bold

blockquote
  padding: 1rem
  border-left: $border-width solid $color-highlight
  border-radius: $border-radius
  background: $alternate-dark
  margin: 1rem 0
  width: fit-content

  p
    margin: 0
    font-family: $secondary-font-family

  cite
    display: block
    margin-top: 0.5rem
    font-size: 0.9rem
    font-style: italic
