@import 'misc'

%dynamic-background-color
  &.purple
    background-color: $purple
  &.green
    background-color: $green
  &.orange
    background-color: $orange
  &.blue
    background-color: $blue
  &.pink
    background-color: $pink
  &.black
    background-color: $black

%dynamic-text-color
  &.purple
    color: $purple
  &.green
    color: $green
  &.orange
    color: $orange
  &.blue
    color: $blue
  &.pink
    color: $pink
  &.black
    color: $black

=dynamic-icon($icon-name)
  @extend %dynamic-background-color
  +icon-mask($icon-name)

// Dynamic color stuff
.dynamic-color
  -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  -o-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  @extend %dynamic-background-color

h1,
.site-code-link
  .dynamic-color
    background-color: rgba(0, 0, 0, 0.0) !important
    @extend %dynamic-text-color

.player-wrapper
  .player
    .playlist
      .amplitude-song-container
        &.dynamic-color
          background-color: rgba(0, 0, 0, 0.0)

        &.amplitude-active-song-container
          &.dynamic-color
            @extend %dynamic-text-color

          &.amplitude-paused
            .song-info
              .song-thumbnail
                .activity
                  +dynamic-icon('play')
          &.amplitude-playing
            .song-info
                .song-thumbnail
                  .activity
                    +dynamic-icon('pause')
.playlist-option
  &.dynamic-color
    background-color: rgba(0, 0, 0, 0.0)

    &.active
      @extend %dynamic-text-color

.player-control-container
  .player-central-control-container
    .player-central-controls
      div
        &.dynamic-color
          background-color: rgba(0,0,0,0.0)
      .amplitude-prev
        &.dynamic-color
          +dynamic-icon('prev')
      .amplitude-play-pause
        &.dynamic-color
          &.amplitude-paused
            +dynamic-icon('play')
          &.amplitude-playing
            +dynamic-icon('pause')
      .amplitude-next
        &.dynamic-color
          +dynamic-icon('next')

  .player-volume-controls
    .amplitude-mute
      &.amplitude-not-muted
        &.dynamic-color
          +dynamic-icon('volume')

input[type=range]
  &.dynamic-color
    background-color: rgba(0, 0, 0, 0.0)

    &.purple
       &::-webkit-slider-thumb
        border: 0 solid $purple
        background: $purple
    &.orange
      &::-webkit-slider-thumb
        border: 0 solid $orange
        background: $orange
    &.blue
      &::-webkit-slider-thumb
        border: 0 solid $blue
        background: $blue
    &.pink
      &::-webkit-slider-thumb
        border: 0 solid $pink
        background: $pink
    &.green
      &::-webkit-slider-thumb
        border: 0 solid $green
        background: $green
    &.black
      &::-webkit-slider-thumb
        border: 0 solid $black
        background: $black

    &.purple
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $purple
    &.green
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $green
    &.orange
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $orange
    &.blue
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $blue
    &.pink
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $pink
    &.black
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $black

.sound-wave-bar
  @extend %dynamic-background-color