@import 'misc'

$asset-path-start: '../img/'
$asset-path-end: '.png'
%dynamic-background-color
  &.purple
    background-color: $purple
  &.green
    background-color: $green
  &.orange
    background-color: $orange
  &.blue
    background-color: $blue
  &.pink
    background-color: $pink

%dynamic-text-color
  &.purple
    color: $purple
  &.green
    color: $green
  &.orange
    color: $orange
  &.blue
    color: $blue
  &.pink
    color: $pink

=dynamic-background-image($img-file)
  &.purple
    background: url($asset-path-start + $img-file + '-purple' + $asset-path-end)
  &.orange
    background: url($asset-path-start + $img-file + '-orange' + $asset-path-end)
  &.blue
    background: url($asset-path-start + $img-file + '-blue' + $asset-path-end)
  &.pink
    background: url($asset-path-start + $img-file + '-pink' + $asset-path-end)


// Dynamic color stuff
.dynamic-color
  -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  -o-transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out
  transition: color 1s ease-in-out, background-color 1s ease-in-out, background 1s ease-in-out, background-image 1s ease-in-out

  @extend %dynamic-background-color

h1
  .dynamic-color
    background-color: rgba(0, 0, 0, 0.0) !important
    color: $white
    @extend %dynamic-text-color

.chevron-down
  &.dynamic-color
    +dynamic-background-image('chevron-down')

.player-wrapper
  .player
    .playlist
      .amplitude-song-container
        &.dynamic-color
          background-color: rgba(0, 0, 0, 0.0)

          &.purple
            border-bottom: 1px solid $purple
          &.green
            border-bottom: 1px solid $green
          &.orange
            border-bottom: 1px solid $orange
          &.blue
            border-bottom: 1px solid $blue
          &.pink
            border-bottom: 1px solid $pink

        &.amplitude-active-song-container
          &.dynamic-color
            @extend %dynamic-text-color

          &.amplitude-paused
            .song-info
              .song-thumbnail
                .activity
                  +dynamic-background-image('play')
          &.amplitude-playing
            .song-info
                .song-thumbnail
                  .activity
                    +dynamic-background-image('pause')
.playlist-option
  &.dynamic-color
    background-color: rgba(0, 0, 0, 0.0)

    &.active
      @extend %dynamic-text-color

.player-control-container
  .player-repeat-container
    div
      &.dynamic-color
        background-color: rgba(0,0,0,0.0)
    .amplitude-repeat-on
      &.dynamic-color
        +dynamic-background-image('repeat-on')
    .amplitude-shuffle-on
      &.dynamic-color
        +dynamic-background-image('shuffle-on')

  .player-central-control-container
    .player-central-controls
      div
        &.dynamic-color
          background-color: rgba(0,0,0,0.0)
      .amplitude-prev
        &.dynamic-color
          +dynamic-background-image('prev')
      .amplitude-play-pause
        &.dynamic-color
          &.amplitude-paused
            +dynamic-background-image('play')
          &.amplitude-playing
            +dynamic-background-image('pause')
      .amplitude-next
        &.dynamic-color
          +dynamic-background-image('next')

  .player-volume-controls
    .amplitude-mute
      &.amplitude-not-muted
        &.dynamic-color
          +dynamic-background-image('volume')

input[type=range]
  &.dynamic-color
    background-color: rgba(0, 0, 0, 0.0)

    &.purple
       &::-webkit-slider-thumb
        border: 0 solid $purple
        background: $purple
    &.orange
      &::-webkit-slider-thumb
        border: 0 solid $orange
        background: $orange
    &.blue
      &::-webkit-slider-thumb
        border: 0 solid $blue
        background: $blue
    &.pink
      &::-webkit-slider-thumb
        border: 0 solid $pink
        background: $pink

    &.purple
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $purple
    &.green
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $green
    &.orange
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $orange
    &.blue
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $blue
    &.pink
      &:focus::-webkit-slider-runnable-track,
      &::-webkit-slider-runnable-track
        background: $pink
