// Fonts
$primary-font: 'Open Sans', sans-serif
$secondary-font: 'Montserrat', sans-serif
.primary-font
  font-family: $primary-font
.secondary-font
  font-family: $secondary-font

// Icon / SVG stuff
$asset-path-start: '../svg/'
$asset-path-ext: '.svg'
=icon-mask($icon-name)
  -webkit-mask-image: url($asset-path-start + $icon-name + $asset-path-ext)
  mask-image: url($asset-path-start + $icon-name + $asset-path-ext)

=icon-size($size)
  -webkit-mask-size: $size
  mask-size: $size
  width: $size
  height: $size

// Colors
$black: #202020
$white: #FFF
$darker-purple: #7239ad
$grey: #999999
$purple: #8c53c6
$blue: #0079F2
$green: #04E762
$orange: #FF613A
$pink: #F2006D

// Gradients
%purple-gradient
  background-image: linear-gradient(to right top, #8c53c6, #854dc0, #7f46b9, #7840b3, #7239ad)

// Borders
%red-border
  border: 1px solid red
%green-border
  border: 1px solid green
%purple-border
  border: 1px solid $purple
%black-border
  border: 1px solid $black

// Box Shadows
%box-shadow
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15)

%btn-click
  top: 4px

// Animations
=animation-prefix($property, $seconds)
  -webkit-transition: $property $seconds ease-in-out
  -moz-transition: $property $seconds ease-in-out
  -o-transition: $property $seconds ease-in-out
  transition: $property $seconds ease-in-out

=animate($seconds)
  +animation-prefix(all, $seconds)

.levitate
  -webkit-animation: levitate 3s infinite

@keyframes levitate
  0%
    -webkit-transform: translateY(-20px)
  50%
    -webkit-transform: translateY(0px)
  100%
    -webkit-transform: translateY(-20px)

.fade-out
  -webkit-animation: fade-out 1s forwards
@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

.fade-in
  -webkit-animation: fade-in 1s forwards
@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

.pop-up
  z-index: 10
  -webkit-animation: pop-up .6s forwards
@keyframes pop-up
  0%
    -webkit-transform: scale(1)
  50%
    -webkit-transform: scale(1.1)
  100%
    -webkit-transform: scale(1)

.huge-pop-up
  z-index: 10
  -webkit-animation: huge-pop-up 0.9s forwards

@keyframes huge-pop-up
  0%
    -webkit-transform: scale(1)
  50%
    -webkit-transform: scale(1.8)
  100%
    -webkit-transform: scale(1)

// Ripple effect
%ripple
  position: relative
  overflow: hidden
  transform: translate3d(0, 0, 0)

  &:after
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%)
    background-repeat: no-repeat
    background-position: 50%
    transform: scale(10,10)
    opacity: 0
    transition: transform .5s, opacity 1s

  &:active:after
    transform: scale(0,0)
    opacity: .2
    transition: 0s

// Buttons
%generic-btn
  cursor: pointer
  display: inline-block
  position: relative
  z-index: 1
  padding: 0 30px
  height: 50px
  font-size: 1.5em
  line-height: 48px
  color: $white
  border-radius: 100px
  text-align: center
  @extend %box-shadow
  @extend %ripple
  +animation-prefix(background-color, 0.2s)

  &:active
    @extend %btn-click