*
  margin: 0
  padding: 0

html, body
  width: 100%
  height: 100%
  overflow: hidden

#player
  width: 100%
  height: 100%

.menu-button
  position: fixed
  top: 0
  left: 0
  width: 5em
  height: 5em
  background: rgba(85, 43, 43, 0)
  border: 0
  z-index: 2
//   border: 1px solid red

.menu
  position: fixed
  inset: 0
  display: flex
  place-content: center
  place-items: center
  background: rgba(0,0,0,0.35)
  z-index: 3

.menu[hidden]
  display: none !important

.menu-grid
  display: grid
  grid-template-columns: repeat(2, 10em)
  gap: 1em

.menu-grid button
  padding: 1em
  font-size: 1em
  background: rgba(0,0,0,0.75)
  color: rgb(255,255,255)
  border: 1px solid rgba(255,255,255,0.2)

body.screen-off
  background: rgb(0,0,0)

body.screen-off #player
  visibility: hidden
