@import 'reset'
@import 'misc'

body
  font-family: $primary-font
  color: $black

.hidden
  display: none

.purple
  color: $purple

a
  +animate(0.2s)
  color: $purple

  &:hover
    color: $darker-purple

#page-wrapper
  .particles-js-canvas-el
    position: fixed
    top: 0
    left: 0
    z-index: 0

// Welcome section
.welcome-wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh

  section
    &.welcome
      padding: 1em
      max-width: 100%

    h1
      position: relative
      z-index: 1
      font-size: 2em
      margin: .5em auto
      font-family: $secondary-font

  .chevron-down
    position: absolute
    bottom: 0
    max-width: 2.25em

// Breakpoints
@media(min-width: 700px)
  .welcome-wrapper
    section
      &.welcome
        max-width: 50em
      h1
        font-size: 4em

    .chevron-down
      max-width: 4em

// Project
.project-wrapper
  display: flex
  flex-direction: row
  margin: 0 auto
  margin-bottom: 5em
  padding-left: 1em
  max-width: 1280px

  @media(min-width: 700px)
    padding: 0 1em


  .left-content
    width: 90%
    min-width: 300px

    .project-icon
      img
        position: relative
        z-index: 1
        width: 100%
        max-width: 120px
        max-height: 120px
        margin-left: 0
        margin-bottom: 20px
        border-radius: .75em
        @extend %box-shadow

    .project-title
      margin-bottom: .5em
      font-family: $secondary-font
      color: $black
      font-size: 2.5em

    .project-blurb
      color: $grey
      font-size: 1.4em
      line-height: 1.4em

    hr
      margin: 1em 0
      border: 0
      width: 50%
      height: 1px
      @extend %purple-gradient

    .project-info
      margin: .25em auto
      font-size: 1.1em

      .project-info-title
        display: inline-block
        font-weight: bold
        color: $black

      .project-info-value
        display: inline-block
        color: $grey

    a
      text-decoration: none

      .project-link-btn
        cursor: pointer
        display: inline-block
        position: relative
        z-index: 1
        padding: 0 30px
        margin-top: 30px
        margin-bottom: 30px
        margin-left: -10px
        height: 50px
        font-size: 1.5em
        line-height: 48px
        color: $white
        border-radius: 100px
        background-color: $purple
        @extend %box-shadow
        +animate(0.2s)

        &:hover
          background-color: $darker-purple
          padding: 0 3em
          text-align: right

  .right-content
    display: none
    flex-direction: row
    justify-content: center
    width: 100%
    max-width: 840px
    margin-left: 20px

    div
      display: inline-block
      margin: .5em
      +animate(0.2s)

      &:first-child,
      &:last-child
        align-self: flex-start

      &.project-img-2
        display: none
        z-index: 2
        margin-left: -1.5em
        margin-right: -1.5em

        @media(min-width: 800px)
          display: inline-block
          align-self: flex-end

      img
        display: none
    img
      width: 100%
      position: relative
      z-index: 1
      border-radius: .75em
      @extend %box-shadow

// Project Breakpoints
@media(min-width: 480px)
  .project-wrapper
    padding-left: 1.5em

@media(min-width: 600px)
  .project-wrapper
    .right-content
      display: flex

      div
        &.project-img-1
          img
            display: block

    .left-content
        width: 33.33%

@media(min-width: 700px)
  .project-wrapper
    .right-content
      div
        &.project-img-2
          img
            display: block

@media(min-width: 1000px)
  .project-wrapper
    .right-content
      div
        &.project-img-3
          img
            display: block

// Footer
.footer
  padding-top: 7em
  padding-bottom: 1em
  width: 100%

  .footer-links
    text-align: center

    .footer-link
      position: relative
      z-index: 1
      display: inline-block
      margin: 0 1em
      +animate(0.2s)

      &:hover
        transform: scale(1.3)

      a
        text-decoration: none
        font-family: $secondary-font
        font-size: 2em
        color: $black

        &:hover
          color: $purple

  .footer-icons
    text-align: center

    a
      text-decoration: none

    .footer-icon
      margin: 1em
      max-width: 5em
      display: inline-block

      img
        position: relative
        z-index: 1
        width: 100%