@import 'misc'

$whoosh-white: #f7f7f7
$whoosh-black: #0a0a0a
$whoosh-red: #d80452
$whoosh-border: 1px solid $whoosh-white
$small-font-size: 0.75rem
$whoosh-text-shadow: 1px 1px 2px $whoosh-black
$whoosh-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1)

.hidden
  display: none !important

.active
  border-color: $whoosh-red !important
  img
    opacity: 0.6

body
  font-family: Arial, Helvetica, sans-serif
  background-color: $whoosh-black
  color: $whoosh-white
  padding: 0.5rem
  overflow-x: hidden

a
  text-decoration: none
  &:visited
    color: $whoosh-white

  &:hover
    color: $whoosh-red

textarea[name="user_agent"],
label[for="id_user_agent"]
  display: none

@keyframes shimmer
  from
    opacity: 0.0
  to
    opacity: 1.0

.inside-a-dream
  position: absolute
  top: 0
  left: 0
  object-fit: cover
  pointer-events: none
  z-index: -1
  opacity: 0
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%)
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%)
  animation-name: shimmer
  animation-iteration-count: infinite
  animation-duration: 10s
  animation-direction: alternate

  img
    width: 100%

.upload-in-progress
    display: flex
    position: absolute
    width: 99%
    height: 98%
    background-color: rgba($whoosh-black, 0.9)
    z-index: 1
    align-items: center
    justify-content: center
    font-size: 1.25rem
    text-shadow: $whoosh-text-shadow

.whoosh-wrapper
  .back-link
    padding: .5rem 1rem
    border: $whoosh-border
    margin-top: 3rem
    display: inline-block
    &:hover
      border-color: $whoosh-red

  .subtitle
    margin-bottom: 0.5rem
    font-size: 2rem
    letter-spacing: 0.1rem
    text-shadow: $whoosh-text-shadow

  .upload-form
    display: inline-flex
    position: relative
    overflow: hidden

    form
      margin: .25rem .5rem
      margin-left: 0
      display: inline-flex
      flex-direction: column
      max-width: 15rem
      font-size: 1rem
      border: $whoosh-border
      padding: .75rem

      .form-input
        display: flex
        flex-direction: column
        margin: 0
        margin-bottom: 1rem

        .label
          display: flex
          align-items: center

        input
          margin-left: 0
          align-self: flex-start

      input
        &[type="text"]
          max-width: 95%
          width: 100%

        &[type="submit"]
          align-self: flex-start
          cursor: pointer
          font-size: 1rem

          &[value="Submit"]
            width: 100%

      #id_start_time,
      label[for="id_start_time"]
        display: none

    .checkboxes
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        flex-direction: row
        .form-input
          flex-basis: 50%

    .upload-preview
      display: inline-flex
      flex-direction: column
      position: relative
      margin: .25rem .5rem
      margin-left: 0
      padding: .75rem
      max-width: 20rem
      font-size: 1rem
      overflow: hidden

      .instructions
        padding: 0.25rem
        text-align: center
        text-shadow: $whoosh-text-shadow
        font-size: .8rem
        width: 100%

      video
        max-height: 18rem
        width: 100%
        object-fit: cover

    @media (max-width: 600px)
      max-height: initial
      flex-direction: column

      .upload-preview
        max-width: 100%

  .recent-whooshes
    margin-top: 3rem

    .recent-whoosh-container
      display: flex
      flex-wrap: wrap

      .recent-whoosh
        display: inline-flex
        margin: 0
        margin-right: .5rem
        margin-bottom: .5rem
        border: $whoosh-border
        width: 100px
        height: 100px

        img
          object-fit: cover
          width: 100%

        &:hover
          @extend .active

.whoosh-viewer
  font-size: 1rem
  video
    max-width: 100%
    max-height: 40rem
    font-size: 1rem

  .expiration
      font-size: $small-font-size

  .whoosh-info
    display: inline-block
    margin-top: 1rem
    border: $whoosh-border
    padding: 0.75rem 0
    padding-right: 1rem

    .info
      width: 20rem
      font-size: 1rem

      .info-stat
        display: flex
        align-items: center
        margin-bottom: 0.25rem
        font-size: $small-font-size

        .info-stat-label
          width: 6rem
          text-align: right
          font-weight: bold

        .info-stat-value
          margin-left: .5rem

      .info-checkbox-wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        flex-direction: row

        .info-stat
          flex-basis: 30%