{% extends 'admin/base_site.html' %}
{% load kershner_tags %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/admin.css?timestamp={{ timestamp }}">
{% endblock %}

{% block userlinks %}
  {{ block.super }}
  {% if user.is_superuser %}
    <details class="admin-utils">
      <summary>Utilities</summary>
      <div class="admin-utils-content">
        <form method="post" action="{% url 'admin-clear-cache' %}">
            {% csrf_token %}
            <button type="submit" class="button" onclick="return confirm('Clear cache?')">Clear cache</button>
        </form>
      </div>
    </details>
  {% endif %}
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/autoComplete.min.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/admin.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            customAdmin.init();
        });
    </script>
{% endblock %}
