@import '../../../index.scss';

.songOptionRow {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  color: #fff;
  text-shadow: $text-shadow;

  &:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }
  &:hover {
    opacity: 0.6;
  }

  .playerButton {
    svg,
    path {
      width: 1.25rem;
      fill: #fff;
      stroke: #fff;
    }
  }
}
