{% load kershner_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/ai-quiz.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="header shortened-width">
        {% block header %}
            <h1 class="title secondary-font">{{ title }}</h1>
        {% endblock%}
        </div>

        {% block content %}{% endblock %}

        {% include "ai_quiz/widgets/random_subjects.html" %}

        {% if form %}
            <hr class="shortened-width">
            {% include "ai_quiz/includes/quiz_form.html" %}
            {% include "ai_quiz/includes/quiz_modal.html" %}
        {% endif %}

        {% include "ai_quiz/widgets/recent_quizzes.html" %}
    </div>

    <!-- JS -->
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/colorWave.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/aiQuiz.js"></script>
    <script type="text/javascript">
        aiQuiz.form = {% if form %}true{% else %}false{% endif %};
        aiQuiz.uniqueSubjects = {{ unique_subjects|safe }};
        aiQuiz.aiQuizListUrl = '{% url 'list-ai-quiz' %}';
        aiQuiz.showModal = {% if quizzes_remaining %}true{% else %}false{% endif %};
        aiQuiz.quizPricing = {{ quiz_pricing }};

        if (document.readyState === 'complete') {
            aiQuiz.init();
        } else {
            document.addEventListener('DOMContentLoaded', aiQuiz.init);
        }
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>