{% extends 'ai_quiz/base.html' %}

{% block header %}
    {{ block.super }}
    <p class="blurb">
        Aenean lobortis consequat tellus, vitae condimentum augue. Vestibulum eget porta sem. Aliquam bibendum maximus metus nec eleifend. Nulla ultricies nulla vitae posuere laoreet.
    </p>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2 class="secondary-font">Generate a quiz about {{ form.subject}}</h2>

        <div class="form-inner">
            <div class="form-controls">
                <div class="form-control">
                {{ form.num_questions.label_tag }}
                {{ form.num_questions}}
                </div>

                <div class="form-control">
                {{ form.temperature.label_tag }}
                {{ form.temperature}}
                </div>
            </div>

            {{ form.user_agent}}
            <button type="submit">Create Quiz</button>
        </div>
    </form>
{% endblock %}
