{% extends 'ai_quiz/base.html' %}

{% block header %}
    {{ block.super }}
    <p class="blurb large">
        Create a quiz using the <a href="https://en.wikipedia.org/wiki/OpenAI">OpenAI</a>
        <a href="https://en.wikipedia.org/wiki/GPT-3">GPT-3</a> (Generative Pre-trained Transformer 3)
        AI language model.
    </p>

    <p class="blurb disclaimer">
        <em>Disclaimer:</em> The GPT-3 language model is a tool for generating human-like text, but it has
        limitations. It often makes mistakes based on its training set, which is currently limited to the early
        2020s internet.
        <a href="https://en.wikipedia.org/wiki/GPT-3#Criticism" target="_blank">Read more.</a>
    </p>

{% endblock %}