{% extends 'ai_quiz/base.html' %}

{% block header %}
    {{ block.super }}
    {% include "ai_quiz/includes/quiz_controls.html" %}
{% endblock %}

{% block content %}
<ul class="all-quizzes">
{% for quiz in quizzes %}
    <li>
        <a href="{% url 'view-ai-quiz' quiz_id=quiz.uniq_id %}" class="hover-underline">
            <div class="quiz-results-number">{{ forloop.counter }}.</div>

            <div class="quiz-large">
                <div class="quiz-name">{{ quiz }}</div>
                <div class="quiz-temperature">
                    <span class="temp-label">Temperature:</span>
                    <span>{{ quiz.temperature }}</span>
                </div>
                <div class="quiz-created">{{ quiz.created }}</div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    {% if quizzes.has_previous %}
    <span class="step-links">
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ quizzes.previous_page_number }}">previous</a>
    </span>
    {% endif %}

    <span class="current-page">
        Page {{ quizzes.number }} of {{ quizzes.paginator.num_pages }}
    </span>

    {% if quizzes.has_next %}
    <span class="step-links">
        <a href="?page={{ quizzes.next_page_number }}">next</a>
        <a href="?page={{ quizzes.paginator.num_pages }}">last &raquo;</a>
    </span>
    {% endif %}
</div>
{% endblock %}