{% load portfolio_tags %}


<div class="form">
    <form id="doppelganger-form" class="hidden" method="post" enctype="multipart/form-data" action="{% url 'create-doppelganger' whoosh_id=selected_whoosh.uniq_id %}">
        <div class="instructions medium-font-size">
            Manufacture a paranormal counterpart to this Whoosh using altered settings.
        </div>

        <hr>

        {% csrf_token %}

        {{ doppelganger_form.non_field_errors }}

        {{ doppelganger_form.captcha }}

        <div class="extra-options">
            {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.whoosh_type %}
            {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.credit_text %}
            {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.start_time %}

            <div class="checkboxes">
                {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.mute_source %}
                {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.black_and_white %}
                {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.portrait %}
                {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.slow_motion %}
                {% include 'whoosh/forms/includes/form_input.html' with input=doppelganger_form.slow_zoom %}
            </div>

            {{ doppelganger_form.user_agent }}
        </div>

        <input type="submit" value="Submit">
    </form>
</div>