{% load kershner_tags %}


<div class="form">
    <form id="doppelganger-form" class="hidden" method="post" enctype="multipart/form-data" action="{% url 'create-doppelganger' whoosh_id=selected_whoosh.uniq_id %}">
        {% csrf_token %}

        Manufacture a paranormal counterpart to this Whoosh using altered settings.

        <hr>

        {{ form.non_field_errors }}

        {% include 'whoosh/forms/includes/extra_options.html' %}

        {% include 'whoosh/forms/includes/submit_btn.html' %}
    </form>
</div>