{% load portfolio_tags %}

<div class="form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        Create a damn fine clip from a video file.

        <hr>

        {{ form.non_field_errors }}

        {% include 'whoosh/forms/includes/form_input.html' with input=form.source_video %}

        {% include 'whoosh/forms/includes/extra_options.html' with extra_class='disabled' %}

        {% include 'whoosh/forms/includes/submit_btn.html' with extra_class='hidden' %}
    </form>

    <div class="upload-preview hidden">
        <div class="instructions">Scrub the video to choose a starting time.</div>
        <video id="upload-preview" controls=""></video>
    </div>
</div>