{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/css/portfolio.css' %}">
        {% block extra_head %}{% endblock %}

        <!-- Title -->
        {% if title %}
        <title>Tyler Kershner - {{ title }}</title>
        {% else %}
        <title>Tyler Kershner</title>
        {% endif %}
    </head>

    <body>
    <!-- Content-->
    <div id="page-wrapper">
    {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% block footer %}
        <div class="footer">
            <div class="footer-links">
                <div class="footer-link">
                    {% if request.resolver_match.url_name == 'music' %}
                    <a href="{% url 'home' %}">
                        <div class="footer-icon home"><img></div> Home
                    </a>
                    {% else %}
                    <a href="{% url 'music' %}">
                        <div class="footer-icon music"><img></div> Music
                    </a>
                    {% endif %}
                </div>

                <div class="footer-link">
                    <a href="https://www.github.com/kershner" target="_blank">
                        <div class="footer-icon github"><img></div> Github
                    </a>
                </div>

                <div class="footer-link">
                    <a href="mailto:tyler@kershner.org" target="_blank">
                        <div class="footer-icon email"><img></div> Email
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}

        <!-- JS -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script type="text/javascript" src="{% static 'js/particlesInit.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block javascripts %}
        <script type="text/javascript">
            window.onload = portfolio.init();
        </script>

        {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>