{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block extra_head %}{% endblock %}

        <!-- Title -->
        {% if title %}<title>Tyler Kershner - {{ title }}</title>{% else %}<title>Tyler Kershner</title>{% endif %}
    </head>

    <body>
    <!-- Content-->
    <div id="page-wrapper">
    {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% block footer %}
        <div class="footer">
            <div class="footer-links">
                <div class="footer-link">
                    {% if request.resolver_match.url_name == 'music' %}
                    <a href="{% url 'home' %}">
                        <div class="footer-icon home"><img></div> Home
                    </a>
                    {% else %}
                    <a href="{% url 'music' %}">
                        <div class="footer-icon music"><img></div> Music
                    </a>
                    {% endif %}
                </div>

                <div class="footer-link">
                    <a href="https://www.github.com/kershner" target="_blank">
                        <div class="footer-icon github"><img></div> Github
                    </a>
                </div>

                <div class="footer-link">
                    <a href="mailto:tylerkershner@gmail.com" target="_blank">
                        <div class="footer-icon email"><img></div> Email
                    </a>
                </div>

                <div class="site-code-link"><a href="https://www.github.com/kershner/portfolio" class="dynamic-color" target="_blank">View Code</a></div>
            </div>
        </div>
        {% endblock %}

        <!-- JS -->
        <script type="text/javascript" src="{% static 'vendor/js/svgInject.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/js/particles.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block javascripts %}
        <script type="text/javascript">
            window.onload = portfolio.init();
        </script>

        {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>