{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/css/portfolio.css' %}">
        {% block extra_head %}{% endblock %}

        <!-- Title -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Tyler Kershner</title>
        {% endif %}
    </head>

    <body>
        <!-- Content-->
        <div id="page-wrapper">
        {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        {% block footer %}
            <div class="footer">
                <div class="footer-links">
                    <div class="footer-link">
                        <a href="#">
                            Projects
                        </a>
                    </div>

                    <div class="footer-link">
                        {% if request.resolver_match.url_name == 'music' %}
                        <a href="{% url 'home' %}">
                            Home
                        </a>
                        {% else %}
                        <a href="{% url 'music' %}">
                            Music
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="footer-icons">
                    <a href="#">
                        <div class="footer-icon">
                            <img src="{% static '/img/github-icon.png' %}">
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}

        <!-- JS -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        {% block javascripts %}
            <script type="text/javascript">
                // Particles init
                particlesJS("page-wrapper", {
                    "particles": {
                        "number": {
                            "value": 80,
                            "density": {
                                "enable": true,
                                "value_area": 800
                            }
                        },
                        "color": {
                            "value": "#8c53c6"
                        },
                        "shape": {
                            "type": "circle",
                            "stroke": {
                                "width": 0,
                                "color": "#000000"
                            },
                            "polygon": {
                                "nb_sides": 5
                            },
                            "image": {
                                "src": "img/github.svg",
                                "width": 100,
                                "height": 100
                            }
                        },
                        "opacity": {
                            "value": 0.5,
                            "random": false,
                            "anim": {
                                "enable": false,
                                "speed": 1,
                                "opacity_min": 0.1,
                                "sync": false
                            }
                        },
                        "size": {
                            "value": 3,
                            "random": true,
                            "anim": {
                                "enable": false,
                                "speed": 40,
                                "size_min": 0.1,
                                "sync": false
                            }
                        },
                        "line_linked": {
                            "enable": true,
                            "distance": 150,
                            "color": "#8c53c6",
                            "opacity": 0.4,
                            "width": 1
                        },
                        "move": {
                            "enable": true,
                            "speed": 6,
                            "direction": "none",
                            "random": false,
                            "straight": false,
                            "out_mode": "out",
                            "bounce": false,
                            "attract": {
                                "enable": false,
                                "rotateX": 600,
                                "rotateY": 1200
                            }
                        }
                    },
                    "interactivity": {
                        "detect_on": "canvas",
                        "events": {
                            "onhover": {
                                "enable": true,
                                "mode": "repulse"
                            },
                            "onclick": {
                                "enable": true,
                                "mode": "push"
                            },
                            "resize": true
                        },
                        "modes": {
                            "grab": {
                                "distance": 400,
                                "line_linked": {
                                    "opacity": 1
                                }
                            },
                            "bubble": {
                                "distance": 400,
                                "size": 40,
                                "duration": 2,
                                "opacity": 8,
                                "speed": 3
                            },
                            "repulse": {
                                "distance": 200,
                                "duration": 0.4
                            },
                            "push": {
                                "particles_nb": 4
                            },
                            "remove": {
                                "particles_nb": 2
                            }
                        }
                    },
                    "retina_detect": true
                });
            </script>

            {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>