{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="welcome-wrapper">
    <!-- Big Text Blurbs -->
    <section class="welcome">
        <h1>
            I'm <a href="https://www.github.com/kershner" target="_blank" class="dynamic-color">Tyler Kershner</a>.
        </h1>

        <h1>
            A software developer in Ann Arbor, MI.
        </h1>

        <h1>
            Let's <a href="mailto:tylerkershner@gmail.com" class="dynamic-color">work together</a>!
        </h1>
    </section>

    <div class="chevron-down dynamic-color levitate"></div>
</div>

<!-- Projects -->
<div class="projects-wrapper">
{% for project in projects %}
    {% if forloop.counter == 1 %}
    <div id="first-project" class="project-wrapper purple" data-index="{{ forloop.counter }}">
    {% elif forloop.counter > projects_per_page %}
    <div class="project-wrapper purple hidden" data-index="{{ forloop.counter }}">
    {% else %}
    <div class="project-wrapper purple" data-index="{{ forloop.counter }}">
    {% endif %}
        <div class="left-content">
            <div class="project-icon">
                <img src="" data-src="{{ project.icon.url }}">
            </div>

            <div class="project-title">{{ project.title }}</div>

            <div class="project-blurb">{{ project.blurb }}</div>

            <hr align="left" class="dynamic-color">

            <div class="project-info">
                <div class="project-info-title">Technologies:</div>
                <div class="project-info-value">{{ project.technologies }}</div>
            </div>

            <div class="project-info">
                <div class="project-info-title">More:</div>
                <div class="project-info-value">{{ project.extra_notes }}</div>
            </div>

            <a href="{{ project.site_url}}" target="_blank">
                <div class="project-link-btn dynamic-color">Visit Site →</div>
            </a>
        </div>

        <div class="right-content">
            <div class="project-img-1">
                <img src="" data-src="{{ project.image_1.url }}">
            </div>

            <div class="project-img-2">
                <img src="" data-src="{{ project.image_2.url }}">
            </div>

            <div class="project-img-3">
                <img src="" data-src="{{ project.image_3.url }}">
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- More Projects Btn -->
<div class="more-projects-btn-wrapper">
    <div id="more-projects-btn" class="generic-btn dynamic-color">More Projects</div>
</div>
{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        portfolio.projectsPerPage = {{ projects_per_page }};
        portfolio.currentProjectIndex = {{ projects_per_page }};
        portfolio.chevronClick();
        portfolio.moreProjectsBtn();
    </script>
{% endblock %}