{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="welcome-wrapper">
    <!-- Big Text Blurbs -->
    <section class="welcome">
        <h1>
            I'm <a href="https://www.github.com/kershner" target="_blank">Tyler Kershner</a>.
        </h1>

        <h1>
            A software developer in Ann Arbor, MI.
        </h1>

        <h1>
            Let's <a href="mailto:tyler@kershner.org">work together</a>!
        </h1>
    </section>

    <img class="chevron-down levitate" src="{% static '/img/chevron-down.png' %}">
</div>

<div class="projects-wrapper">
<div id="first-project" class="project-wrapper">
    <div class="left-content">
        <div class="project-icon">
            <img src="fake.png" data-src="{% static '/img/gene-square.png' %}">
        </div>

        <div class="project-title">Poop</div>

        <div class="project-blurb">
            Riggatoni lorem ipsum check out these cute dogs on the GIF display.
            I'm just writing a bunch of words as placeholder to see how they look.
            Maybe this will be this long.  Remember that movie that one time?
        </div>

        <hr align="left">

        <div class="project-info">
            <div class="project-info-title">Technology:</div>
            <div class="project-info-value">Python, poop, pee</div>
        </div>

        <div class="project-info">
            <div class="project-info-title">More:</div>
            <div class="project-info-value">Riggatoni</div>
        </div>

        <div class="project-info">
            <div class="project-info-title">Whoopsy:</div>
            <div class="project-info-value">Daisy</div>
        </div>

        <a href="#" target="_blank">
            <div class="project-link-btn">Visit Site →</div>
        </a>
    </div>

    <div class="right-content">
        <div class="project-img-1">
            <img src="fake.png" data-src="{% static '/img/gene.png' %}">
        </div>

        <div class="project-img-2">
            <img src="fake.png" data-src="{% static '/img/gene.png' %}">
        </div>

        <div class="project-img-3">
            <img src="fake.png" data-src="{% static '/img/gene.png' %}">
        </div>
    </div>
</div>
</div>

<!-- More Projects Btn -->
<div class="more-projects-btn-wrapper">
    <div id="more-projects-btn" class="generic-btn">More Projects</div>
</div>
{% endblock %}
