{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Player -->
<div class="player-wrapper">
    <div class="player">
        <!-- Playlist -->
        <!-- Playlist Select -->
        <div class="playlist-select">
            <div class="playlist-option dynamic-color active" data-type="loops">Loops</div>
            <div class="playlist-option" data-type="songs">Songs</div>
        </div>

        <div class="playlist">
            <!-- Loops -->
            <div id="loops"></div>

            <!-- Songs -->
            <div id="songs" class="hidden"></div>
        </div>

        <div class="player-bottom">
            <!-- Time -->
            <div class="player-time-container">
                <!-- Current Time -->
                <span class="current-time">
                  <span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
                </span>

                <!-- Progress -->
                <div class="progress-container">
                    <input type="range" class="amplitude-song-slider dynamic-color" amplitude-main-song-slider="true"/>
                </div>

                <!-- Duration -->
                <span class="duration">
                  <span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
                </span>
            </div>

            <!-- Controls Container -->
            <div class="player-control-container">
                <!-- Repeat Container -->
                <div class="player-repeat-container">
                    <div class="amplitude-repeat dynamic-color"></div>
                    <div class="amplitude-shuffle amplitude-shuffle-off dynamic-color" amplitude-playlist="loops"></div>
                </div>

                <!-- Central Controls -->
                <div class="player-central-control-container">
                    <div class="player-central-controls">
                        <div class="amplitude-prev dynamic-color"></div>
                        <div class="amplitude-play-pause dynamic-color" amplitude-main-play-pause="true"></div>
                        <div class="amplitude-next dynamic-color"></div>
                    </div>

                    <div class="player-meta-container">
                        <span amplitude-song-info="name" amplitude-main-song-info="true" class="now-playing-name"></span>
                        <span amplitude-song-info="artist" amplitude-main-song-info="true" class="now-playing-artist"></span>
                    </div>

                    <div id="old-video-toggle" class="dynamic-color">Old Video</div>
                </div>

                <!-- Volume -->
                <div class="player-volume-controls">
                    <div class="amplitude-mute amplitude-not-muted dynamic-color"></div>
                    <input type="range" class="amplitude-volume-slider dynamic-color"/>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Old vid -->
<div class="outer-music-video-wrapper hidden">
    <div class="music-video-wrapper">
        <iframe id="old-music-video-ifr" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="music-video-blurb">Bonus jam from 2007</div>
</div>
{% endblock %}

{% block extra_javascripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@3.3.1/dist/amplitude.js"></script>
<script type="text/javascript" src="{% static 'js/music.js' %}"></script>
<script type="text/javascript">
    music.songs = {{ songs_json|safe }};
    music.init();
</script>
{% endblock %}