{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Philomania</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/philomania.css' %}">
</head>
<body>
    <div class="game-ui-labels">
        <div class="game-ui-label">
            <p class="label">Round:</p>
            <p id="round-value" class="value">1</p>
        </div>

        <div class="game-ui-label">
            <p class="label">Points:</p>
            <p id="points-value" class="value">0</p>
        </div>

        <div class="game-ui-label">
            <p class="label">Time:</p>
            <p id="seconds-remaining-value" class="value"></p>
        </div>
    </div>

    <div id="modal">
        <div class="modal-title"></div>
        <div class="modal-body"></div>
        <div class="modal-countdown"></div>
    </div>

    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/util.js' %}?timestamp={{ timestamp }}"></script>
    <script type="text/javascript" src="{% static 'js/philomania.js' %}?timestamp={{ timestamp }}"></script>
    <script type="text/javascript">
        window.onload = philomania.init();
    </script>
</body>
</html>