{% load portfolio_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Philomania</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/phil_favicon.ico" type="image/x-icon">
    <link rel="icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/phil_favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/philomania.css">
</head>
<body>
    <div class="game-ui-labels hidden">
        <div class="game-ui-label">
            <p class="label">Round:</p>
            <p id="round-value" class="value">1</p>
        </div>

        <div class="game-ui-label">
            <p class="label">Points:</p>
            <p id="points-value" class="value">0</p>
        </div>

        <div class="game-ui-label">
            <p class="label">Time:</p>
            <p id="seconds-remaining-value" class="value"></p>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-title">Phil-o-mania</div>
        <div class="modal-subtitle"></div>
        <hr>
        <div class="modal-body long-text">
            This internet program is an adaptation of the hit 2013 film <a target="_blank" href="https://en.wikipedia.org/wiki/Philomena_(film)">Philomena</a>.
            <br><br>
            Inspired by true events, Philomena tells the story of the evil Dame Judi Dench and her army of clones as they
            attempt to capture the sweet boy Phil for purposes unknown.
            <br><br>
            Take control of the boy Phil and evade the evil Dame's clutches for as long as you can!
            <br><br>
            Best played with a mouse or trackpad on a widescreen display.
        </div>
        <div class="modal-countdown"></div>
        <div class="modal-actions">
            <div id="start-game-btn" class="modal-action-btn">
                Start Game
            </div>
        </div>
    </div>

    <!-- JS -->
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/vendor/js/randomColor.min.js?timestamp={{ timestamp }}"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js?timestamp={{ timestamp }}"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/philomania.js?timestamp={{ timestamp }}"></script>
    <script type="text/javascript">
        philomania.baseS3Url = '{{ base_s3_url }}';
        philomania.backgroundUrls = {{ unsplash_photo_urls|safe }};
        window.onload = philomania.init();
    </script>
</body>
</html>