{% load kershner_tags %}

<div class="whoosh-viewer">
    {% if selected_whoosh.processed and not selected_whoosh.expired or selected_whoosh.saved %}
    <video controls="" autoplay="">
        <source src="{{ selected_whoosh.cloudfront_video_url }}" type="video/mp4">
    </video>

    {% include 'whoosh/includes/whoosh_info.html' %}
    {% include 'whoosh/includes/whoosh_controls.html' %}

    {% elif not selected_whoosh.processed %}
        {% if selected_whoosh.error %}
            <div class="instructions">Unfortunately, something went wrong rendering this Whoosh.</div>
        {% else %}
            <div class="instructions">Whoosh processing.  The page will automatically refresh.</div>
        {% endif %}
    {% else %}
    <div class="instructions">This Whoosh has disappeared into the trees.</div>
    {% endif %}
</div>
