{% load portfolio_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ominous Whoosher</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/phil_favicon.ico" type="image/x-icon">
    <link rel="icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/phil_favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/whoosh.css">
</head>
<body>
    <div class="whoosh-wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- JS -->
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/whoosh.js"></script>
    <script type="text/javascript">
        window.onload = whoosh.init();
    </script>
</body>
</html>