{% load kershner_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ominous Whoosh-er</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/whoosh_favicon.ico" type="image/x-icon">
    <link rel="icon" href="{% settings_value "BASE_S3_URL" %}/img/favicon/whoosh_favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/whoosh.css">
</head>
<body>
    <div class="upload-in-progress hidden">
        <div class="subtitle">[uploading]</div>
    </div>

    <div class="inside-a-dream">
        <img src="{% static 'img/whoosh/live_inside_a_dream.png' %}">
    </div>

    <div class="header subtitle">
        <a href="{% url 'whoosh' %}">
            [ominous whoosh-er]
        </a>
    </div>

    {% block content %}{% endblock %}

    <!-- JS -->
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/whoosh.js"></script>
    <script type="text/javascript">
        whoosh.init();
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>