{% extends 'whoosh/base.html' %}
{% load portfolio_tags %}

{% block content %}
    {% include 'whoosh/includes/whoosh_viewer.html' %}
    {% include 'whoosh/widgets/doppelgangers.html' %}
    <hr>
    {% include 'whoosh/widgets/recent_whooshes.html' %}
    {% include 'whoosh/widgets/saved_whooshes.html' %}
    {% include 'whoosh/includes/back_link.html' %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        {% if not selected_whoosh.error and not selected_whoosh.processed %}
        whoosh.whooshViewerUrl = '{% url 'view-whoosh' whoosh_id=selected_whoosh.uniq_id %}';
        whoosh.uploadFileSizeLimit = {% settings_value 'FILE_UPLOAD_LIMIT_MB' %};
        whoosh.checkWhooshProcessed();
        {% endif %}

        {% if selected_whoosh.processed and not selected_whoosh.expired %}
        whoosh.populateUserAgent();
        whoosh.toggleDoppelgangerForm();
        {% endif %}
    </script>
{% endblock %}