{% extends 'whoosh/base.html' %}

{% block content %}
    {% include 'whoosh/includes/whoosh_viewer.html' %}
    {% include 'whoosh/includes/doppelgangers.html' %}
    {% include 'whoosh/includes/recent_whooshes.html' %}
    {% include 'whoosh/includes/back_link.html' %}
{% endblock %}

{% block extra_js %}
    {% if not selected_whoosh.error and not selected_whoosh.processed %}
    <script type="text/javascript">
        whoosh.whooshViewerUrl = '{% url 'view-whoosh' whoosh_id=selected_whoosh.uniq_id %}';
        whoosh.checkWhooshProcessed();
    </script>
    {% endif %}
{% endblock %}
