<p>
  These commands can be typed into the chat above to interact with the live game.
</p>

<table class="styled-table commands-table">
  <thead>
    <tr>
      <th class="text-highlight">Cmd</th>
      <th class="text-highlight">Desc</th>
      <th class="text-highlight">Ex.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>!walk</td>
      <td>Start walking</td>
      <td>!walk</td>
    </tr>
    <tr>
      <td>!stop</td>
      <td>Stop walking</td>
      <td>!stop</td>
    </tr>
    <tr>
      <td>!jump</td>
      <td>Jump</td>
      <td>!jump</td>
    </tr>
    <tr>
      <td>!esc</td>
      <td>Press escape key</td>
      <td>!esc</td>
    </tr>
    <tr>
      <td>!left [num]</td>
      <td>Move left [num] times</td>
      <td>!left 5</td>
    </tr>
    <tr>
      <td>!right [num]</td>
      <td>Move right [num] times</td>
      <td>!right 3</td>
    </tr>
    <tr>
      <td>!forward [num]</td>
      <td>Move forward [num] times</td>
      <td>!forward 10</td>
    </tr>
    <tr>
      <td>!back [num]</td>
      <td>Move backward [num] times</td>
      <td>!back 7</td>
    </tr>
    <tr>
      <td>!up [num]</td>
      <td>Look up [num] times</td>
      <td>!up 2</td>
    </tr>
    <tr>
      <td>!down [num]</td>
      <td>Look down [num] times</td>
      <td>!down 4</td>
    </tr>
    <tr>
      <td>!map</td>
      <td>Toggle map view</td>
      <td>!map</td>
    </tr>
    <tr>
      <td>!modlist</td>
      <td>List active mods</td>
      <td>!modlist</td>
    </tr>
    <tr>
      <td>!song [num | random | category]</td>
      <td>Start a vote to change the music</td>
      <td>!song random, !song 16, !song category world</td>
    </tr>
    <tr>
      <td>!reset</td>
      <td>Start a vote to reset to last known location</td>
      <td>!reset</td>
    </tr>
    <tr>
      <td>!killall</td>
      <td>Kill all nearby enemies</td>
      <td>!killall</td>
    </tr>
    <tr>
      <td>!info</td>
      <td>List game state information</td>
      <td>!info</td>
    </tr>
    <tr>
      <td>!help</td>
      <td>List available commands</td>
      <td>!help</td>
    </tr>
    <tr>
      <td>!exec &lt;command&gt;</td>
      <td>Execute console command (admin only)</td>
      <td>!exec tele2pixel 100 200</td>
    </tr>
    <tr>
      <td>!save</td>
      <td>Save the game</td>
      <td>!save</td>
    </tr>
    <tr>
      <td>!load</td>
      <td>Load last save (admin only)</td>
      <td>!load</td>
    </tr>
  </tbody>
</table>
