{% load kershner_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daggerwalk</title>
    <link rel="icon" type="image/png" href="{% settings_value "BASE_S3_URL" %}/img/daggerwalk/Daggerwalk.ico">
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/daggerwalk.css">
</head>
<body>
    {# Main tabs - Twitch/Map #}
    <div class="top-row">
        <div class="logo-wrapper">
            <img src="{% settings_value "BASE_S3_URL" %}/img/daggerwalk/Daggerwalk_logo_small.png">
        </div>

        <div class="menu-container">
            <h3 class="title">Daggerwalk</h3>
            {% include "daggerwalk/site_menu.html" %}
        </div>
    </div>

    <div class="tabs main-tabs">
        <input type="radio" name="tabs" id="map-tab-btn">
        <input type="radio" name="tabs" id="twitch-tab-btn" checked>
        <label data-tab="1" for="map-tab-btn">Map</label>
        <label data-tab="2" for="twitch-tab-btn">Twitch</label>
        
        <div class="tab-content">{% include 'daggerwalk/map.html' %}</div>
        <div class="tab-content twitch-tab">{% include 'daggerwalk/twitch_player.html' %}</div>
    </div>

    {# Current Status #}
    <div class="current-status"></div>

    <div class="footer">
        <a class="footer-btn" href="{% url 'daggerwalk-root' %}" target="_blank" title="View the Daggerwalk API">API</a>
        <a class="footer-btn" href="https://bsky.app/profile/daggerwalk.bsky.social" target="_blank" title="View Daggerwalk's Bluesky profile">Bluesky</a>
        <a class="footer-btn" href="https://twitch.tv/daggerwalk" target="_blank" title="View Daggerwalk's Twitch profile">Twitch</a>
        
        <details class="dropdown">
            <summary class="footer-btn" title="View Daggerwalk code">Code</summary>
            <div class="dropdown-content">
                <a href="https://github.com/kershner/daggerwalk" title="View Twitch bot and mods codebase" target="_blank">Twitch bot and mods</a>
                <a href="https://github.com/kershner/kershner_org/tree/master/apps/daggerwalk" title="View Daggerwalk website codebase" target="_blank">Website</a>
            </div>
        </details>
    </div>

    {# About tabs #}
    <div class="tabs about-tabs">
        <input type="radio" name="tabs-group-2" id="stats-tab-btn" checked>
        <input type="radio" name="tabs-group-2" id="commands-tab-btn">
        <input type="radio" name="tabs-group-2" id="songs-tab-btn">
        <input type="radio" name="tabs-group-2" id="about-tab-btn">
        
        <label data-tab="1" for="stats-tab-btn">Stats</label>
        <label data-tab="2" for="commands-tab-btn">Commands</label>
        <label data-tab="3" for="songs-tab-btn">Songs</label>
        <label data-tab="4" for="about-tab-btn">About</label>
        
        <div class="tab-content">
            <div id="stats-content"></div>
        </div>
        
        <div class="tab-content">
            {% include 'daggerwalk/commands.html' %}
        </div>

        <div class="tab-content">
            {% include 'daggerwalk/songs.html' %}
        </div>
        
        <div class="tab-content">
            {% include 'daggerwalk/about.html' %}
        </div>
    </div>

    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/daggerwalk/daggerwalk.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            daggerwalk.latestLog = {{ log|safe }};
            daggerwalk.inOcean = {{ in_ocean }};
            
            window.daggerwalkMapFilters.init();
            daggerwalk.init();
        });
    </script>
</body>
</html>