{% load kershner_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daggerwalk</title>
    <link rel="icon" type="image/png" href="{% settings_value "BASE_S3_URL" %}/img/daggerwalk/Daggerwalk.ico">
    <link rel="stylesheet" href="{% settings_value "BASE_S3_URL" %}/css/daggerwalk.css">
</head>
<body>
    {# Main tabs - Twitch/Map #}
    <div class="top-row">
        <h3 class="title">
            <img src="{% settings_value "BASE_S3_URL" %}/img/daggerwalk/Daggerwalk_logo_small.png">
            <span>Daggerwalk</span>
        </h3>

        {% include "daggerwalk/site_menu.html" %}
    </div>

    <div class="tabs main-tabs">
        <input type="radio" name="tabs" id="twitch-tab-btn" checked>
        <input type="radio" name="tabs" id="map-tab-btn">
        <label data-tab="1" for="twitch-tab-btn">Twitch</label>
        <label data-tab="2" for="map-tab-btn">Map</label>
        
        <div class="tab-content twitch-tab">{% include 'daggerwalk/twitch_player.html' %}</div>
        <div class="tab-content">{% include 'daggerwalk/map.html' %}</div>
    </div>

    {# Current Status #}
    <div class="current-status"></div>

    {# About tabs #}
    <div class="tabs about-tabs">
        <input type="radio" name="tabs-group-2" id="commands-tab-btn" checked>
        <input type="radio" name="tabs-group-2" id="schedule-tab-btn">
        <input type="radio" name="tabs-group-2" id="about-tab-btn">
        
        <label data-tab="1" for="commands-tab-btn">Commands</label>
        <label data-tab="2" for="schedule-tab-btn">Schedule</label>
        <label data-tab="3" for="about-tab-btn">About</label>
        
        <div class="tab-content">
            {% include 'daggerwalk/commands.html' %}
        </div>

        <div class="tab-content">
            {% include 'daggerwalk/schedule.html' %}
        </div>
        
        <div class="tab-content">
            {% include 'daggerwalk/about.html' %}
        </div>
    </div>

    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/util.js"></script>
    <script type="text/javascript" src="{% settings_value "BASE_S3_URL" %}/js/daggerwalk/daggerwalk.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            daggerwalk.latestLog = {{ latest_log|safe }};
            daggerwalk.init();
        });
    </script>
</body>
</html>