{% if leaderboard %}
  <h4>Leaderboard</h4>

  <div class="leaderboard-wrapper">
    <table class="styled-table" id="leaderboard">
      <thead>
          <tr>
              <th>#</th>
              <th>User</th>
              <th>Total XP</th>
          </tr>
      </thead>
      <tbody>
        {% for row in leaderboard %}
          <tr>
              <td class="leaderboard-position">
                  <strong>{{ forloop.counter }}</strong>
              </td>
              
              <td>
                  <a href="https://www.twitch.tv/{{ row.twitch_username }}" target="_blank" rel="noopener">
                      {{ row.twitch_username }}
                  </a>
              </td>

              <td><strong>{{ row.total_xp }}</strong></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
