{% load kershner_tags %}

<div class="daggerwalk-map">
  <div class="map-nav">
    <div class="map-title-wrapper">
        <h2 id="regionName" class="view-title"></h2>
        <h3 id="provinceName" class="view-subtitle"></h3>
    </div>

    <div class="map-filters-wrapper">
        <div class="world-map-link">World</div>
        <div class="map-filters-toggle-btn">Filters</div>
        {% include 'daggerwalk/map_filters.html' %}
    </div>
  </div>
  
  <div id="worldMapView" class="view-container hidden" data-base-url="{% settings_value "BASE_S3_URL" %}">
      <div class="map-container">
          <img id="worldMap" src="{% settings_value "BASE_S3_URL" %}/img/daggerwalk/daggerfall_world_map.png" alt="Daggerfall World Map" loading="lazy">
          <canvas id="overlay"></canvas>
      </div>
  </div>

  <div id="regionMapView" class="view-container hidden">
      <div class="map-container">
          <img id="regionMap" src="" alt="Region Map">
          <div id="marker" class="marker"></div>
      </div>
  </div>
</div>
