<h4>Mods</h4>

<p class="paragraph">
  Daggerwalk runs on <a href="https://github.com/Interkarma/daggerfall-unity/releases" target="_blank">Daggerfall Unity</a>
  with the following active mods:
</p>
<ul id="nexus-modlist">
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/249" target="_blank">World of Daggerfall</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/249" target="_blank">World of Daggerfall &ndash; Biomes</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/307" target="_blank">Daggerfall Expanded Textures</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/193" target="_blank">Interesting Eroded Terrains</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/134" target="_blank">Basic Roads</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/382" target="_blank">Climates Travel Map</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/376" target="_blank">Dynamic Skies</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/20" target="_blank">Real Grass</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/18" target="_blank">Birds in Daggerfall</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/777" target="_blank">HUD Be Gone</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/706" target="_blank">Immersive Footsteps</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/762" target="_blank">Eye of the Beholder</a></li>
  <li><a href="https://github.com/chappjo/DFURenderDistanceExtender" target="_blank">DFU Render Distance Extender</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1187" target="_blank">Dynamic Ambience</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1185" target="_blank">DIAAMM2.0 Part 1 Ambience</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1155" target="_blank">Sprite Sound Framework</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1208" target="_blank">Animated Water</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1377" target="_blank">Seasons of the Iliac Bay</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/285" target="_blank">Context-Sensitive Interaction (fork)</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1097" target="_blank">Console Command Binds</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/411" target="_blank">Future Shock Weapons</a></li>
  <li><a href="https://www.nexusmods.com/daggerfallunity/mods/1362" target="_blank">Wandering NPCs</a></li>
</ul>

<p class="paragraph">
  Custom C# Daggerfall Unity mods I've written:
</p>
<ul id="custom-modlist">
  <li>
    <a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/MapDataLogger.cs" target="_blank">Map Data Logger</a>
  </li>
  <li>
    <a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/AutoWalk.cs" target="_blank">Auto Walk</a>
  </li>
  <li>
    <a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/MusicChanger.cs" target="_blank">Music Changer</a>
  </li>
  <li><a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/BrightLight.cs" target="_blank">Bright Light</a></li>
  <li><a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/CenterView.cs" target="_blank">Center View</a></li>
  <li><a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/GodMode.cs" target="_blank">God Mode</a></li>
  <li><a href="https://github.com/kershner/daggerwalk/blob/master/mods/dfu/MuteClassicSfx.cs" target="_blank">Mute Classic SFX</a></li>
</ul>
