{% load static %}

<h4>Current Quest</h4>
<div class="quests-wrapper" style="background-image: url('{% static 'img/daggerwalk/scroll.png' %}');">
  <article class="quest-card" aria-labelledby="quest-title">
    <div class="quest-title-wrapper">
      <h1 id="quest-title" class="quest-name">{{ current_quest.quest_name }}</h1>
      <a title="View {{ current_quest.poi.name }} on the map" class="quest-map-link" href="?region={{ current_quest.poi.region.name }}&x={{ current_quest.poi.map_pixel_x }}&y={{ current_quest.poi.map_pixel_y }}">Map</a>
    </div>

    <div class="quest-info">
      <div class="quest-giver">
        <img
          src="{{ current_quest.quest_giver_img_url }}"
          alt="Quest giver: {{ current_quest.quest_giver_name }}"
          loading="lazy"
        />
      </div>

      <div class="quest-desc-wrapper">
        <div class="quest-desc">
          <p>"{{ current_quest.description }}"</p>
          <span class="quest-giver-name">- {{ current_quest.quest_giver_name }}</span>
        </div>

        <div class="quest-meta">
          <p class="quest-xp">{{ current_quest.xp }} XP</p>
        </div>
      </div>
    </div>
  </article>
</div>

{% if leaderboard_top10 %}
<h4>Quest Leaderboard</h4>
<table class="styled-table">
  <thead>
    <tr>
      <th>User</th>
      <th>Total XP</th>
    </tr>
  </thead>
  <tbody>
    {% for row in leaderboard_top10 %}
      <tr>
        <td><strong>{{ row.twitch_username }}</strong></td>
        <td>{{ row.total_xp }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}