<div class="site-menu">
  <div class="menu-icon">☰</div>

  <div class="site-controls hidden">
      <div class="site-control-row">
        <div class="site-control-checkbox">
          <input type="radio" id="light" name="background" value="light" checked>
          <label for="light">Light</label>
        </div>
          
        <div class="site-control-checkbox">
          <input type="radio" id="dark" name="background" value="dark">
          <label for="dark">Dark</label>
        </div>
      </div>

      <div class="site-control-row">
          <div class="site-control-label">Accent</div>
          <div class="site-control-input">
              <input type="color" name="accent-color">
          </div>
      </div>

      <div class="site-control-row">
        <button class="reset-default-button">Reset to Default</button>
      </div>
  </div>
</div>