<div class="site-menu">
  <div class="menu-icon">☰</div>

  <div class="site-controls hidden">
      <div class="site-control-row">
          <div class="site-control-label">Background</div>
          <select id="background" name="background">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
      </div>

      <div class="site-control-row">
          <div class="site-control-label">Accent Color</div>
          <div class="site-control-input">
              <input type="color" name="accent-color">
          </div>
      </div>

      <div class="site-control-row">
        <button class="reset-default-button">Reset to Default</button>
      </div>
  </div>
</div>