<div class="site-menu">
  <div class="menu-icon">≡</div>

  <div class="site-controls hidden">
      <div class="site-control-row">
          <div class="site-control-label">Background color</div>
          <div class="site-control-input">
              <input type="color" name="background-color">
          </div>
      </div>

      <div class="site-control-row">
          <div class="site-control-label">Accent Color</div>
          <div class="site-control-input">
              <input type="color" name="accent-color">
          </div>
      </div>

      <div class="site-control-row">
          <div class="site-control-label">Text Color</div>
          <div class="site-control-input">
              <select id="text-color" name="text-color">
                  <option value="light">Light</option>
                  <option value="dark">Dark</option>
              </select>
          </div>
      </div>

      <div class="site-control-row">
        <button class="reset-default-button">Reset to Default</button>
      </div>
  </div>
</div>