<p>
  Tracks can be played in chat with the <b>!song</b> command. Example: <b>!song 127</b>  
</p>

<div class="song-table-controls">
  <label for="songSearchInput">Filter songs:</label>
  <input type="text" id="songSearchInput" placeholder="ex. snow" class="song-search-input">
</div>

<table class="styled-table commands-table" id="songTable">
  <thead>
    <tr>
      <th class="text-highlight">Track #</th>
      <th class="text-highlight">Name</th>
      <th class="text-highlight">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>-1</td><td>song_none</td><td>World</td></tr>
    <tr><td>1</td><td>song_02fm</td><td>World</td></tr>
    <tr><td>3</td><td>song_03fm</td><td>World</td></tr>
    <tr><td>5</td><td>song_04fm</td><td>Dungeon</td></tr>
    <tr><td>7</td><td>song_05fm</td><td>Dungeon</td></tr>
    <tr><td>8</td><td>song_5strong</td><td>World</td></tr>
    <tr><td>10</td><td>song_06fm</td><td>World</td></tr>
    <tr><td>12</td><td>song_07fm</td><td>Dungeon</td></tr>
    <tr><td>14</td><td>song_08fm</td><td>World</td></tr>
    <tr><td>16</td><td>song_09fm</td><td>World</td></tr>
    <tr><td>17</td><td>song_10</td><td>Dungeon</td></tr>
    <tr><td>19</td><td>song_11fm</td><td>Dungeon</td></tr>
    <tr><td>25</td><td>song_15fm</td><td>Battle</td></tr>
    <tr><td>27</td><td>song_16fm</td><td>World</td></tr>
    <tr><td>29</td><td>song_17fm</td><td>Battle</td></tr>
    <tr><td>31</td><td>song_18fm</td><td>World</td></tr>
    <tr><td>33</td><td>song_20fm</td><td>World</td></tr>
    <tr><td>35</td><td>song_21fm</td><td>World</td></tr>
    <tr><td>37</td><td>song_22fm</td><td>World</td></tr>
    <tr><td>39</td><td>song_23fm</td><td>World</td></tr>
    <tr><td>41</td><td>song_25fm</td><td>World</td></tr>
    <tr><td>42</td><td>song_28</td><td>Dungeon</td></tr>
    <tr><td>44</td><td>song_29fm</td><td>World</td></tr>
    <tr><td>46</td><td>song_30fm</td><td>Battle</td></tr>
    <tr><td>47</td><td>song_d1</td><td>Dungeon</td></tr>
    <tr><td>49</td><td>song_d10fm</td><td>Misc</td></tr>
    <tr><td>50</td><td>song_d1fm</td><td>Dungeon</td></tr>
    <tr><td>52</td><td>song_d2fm</td><td>Dungeon</td></tr>
    <tr><td>54</td><td>song_d3fm</td><td>Dungeon</td></tr>
    <tr><td>56</td><td>song_d4fm</td><td>Dungeon</td></tr>
    <tr><td>58</td><td>song_d5fm</td><td>Dungeon</td></tr>
    <tr><td>60</td><td>song_d6fm</td><td>Dungeon</td></tr>
    <tr><td>62</td><td>song_d7fm</td><td>Dungeon</td></tr>
    <tr><td>64</td><td>song_d8fm</td><td>Dungeon</td></tr>
    <tr><td>66</td><td>song_d9fm</td><td>Dungeon</td></tr>
    <tr><td>67</td><td>song_dungeon</td><td>Dungeon</td></tr>
    <tr><td>68</td><td>song_dungeon5</td><td>Dungeon</td></tr>
    <tr><td>69</td><td>song_dungeon6</td><td>Dungeon</td></tr>
    <tr><td>70</td><td>song_dungeon7</td><td>Dungeon</td></tr>
    <tr><td>71</td><td>song_dungeon8</td><td>Dungeon</td></tr>
    <tr><td>72</td><td>song_dungeon9</td><td>Dungeon</td></tr>
    <tr><td>73</td><td>song_fbad</td><td>Misc</td></tr>
    <tr><td>74</td><td>song_fcurse</td><td>World</td></tr>
    <tr><td>75</td><td>song_fday___d</td><td>Battle</td></tr>
    <tr><td>76</td><td>song_fdngn10</td><td>Dungeon</td></tr>
    <tr><td>77</td><td>song_fdngn11</td><td>Dungeon</td></tr>
    <tr><td>78</td><td>song_fdungn4</td><td>Dungeon</td></tr>
    <tr><td>79</td><td>song_fdungn9</td><td>Dungeon</td></tr>
    <tr><td>80</td><td>song_feerie</td><td>World</td></tr>
    <tr><td>81</td><td>song_fgood</td><td>World</td></tr>
    <tr><td>82</td><td>song_fm_dngn1</td><td>Dungeon</td></tr>
    <tr><td>83</td><td>song_fm_dngn2</td><td>Dungeon</td></tr>
    <tr><td>84</td><td>song_fm_dngn3</td><td>Dungeon</td></tr>
    <tr><td>85</td><td>song_fm_dngn4</td><td>Dungeon</td></tr>
    <tr><td>86</td><td>song_fm_dngn5</td><td>Dungeon</td></tr>
    <tr><td>87</td><td>song_fm_nite3</td><td>Dungeon</td></tr>
    <tr><td>88</td><td>song_fm_rain</td><td>World</td></tr>
    <tr><td>89</td><td>song_fm_sqr_2</td><td>Misc</td></tr>
    <tr><td>91</td><td>song_fm_swim2</td><td>World</td></tr>
    <tr><td>92</td><td>song_fmover_c</td><td>World</td></tr>
    <tr><td>93</td><td>song_fmover_s</td><td>World</td></tr>
    <tr><td>94</td><td>song_fmsneak2</td><td>World</td></tr>
    <tr><td>95</td><td>song_fneut</td><td>World</td></tr>
    <tr><td>96</td><td>song_folk1</td><td>Misc</td></tr>
    <tr><td>97</td><td>song_folk2</td><td>Misc</td></tr>
    <tr><td>98</td><td>song_folk3</td><td>Misc</td></tr>
    <tr><td>99</td><td>song_fpalac</td><td>World</td></tr>
    <tr><td>100</td><td>song_fruins</td><td>World</td></tr>
    <tr><td>101</td><td>song_fsneak2</td><td>Misc</td></tr>
    <tr><td>103</td><td>song_gbad</td><td>World</td></tr>
    <tr><td>104</td><td>song_gcurse</td><td>World</td></tr>
    <tr><td>105</td><td>song_gday___d</td><td>Battle</td></tr>
    <tr><td>106</td><td>song_gdngn10</td><td>Dungeon</td></tr>
    <tr><td>107</td><td>song_gdngn11</td><td>Dungeon</td></tr>
    <tr><td>108</td><td>song_gdungn4</td><td>Dungeon</td></tr>
    <tr><td>109</td><td>song_gdungn9</td><td>Dungeon</td></tr>
    <tr><td>110</td><td>song_geerie</td><td>World</td></tr>
    <tr><td>111</td><td>song_ggood</td><td>World</td></tr>
    <tr><td>112</td><td>song_gmage_3</td><td>World</td></tr>
    <tr><td>116</td><td>song_gshop</td><td>Misc</td></tr>
    <tr><td>118</td><td>song_gsnow__b</td><td>World</td></tr>
    <tr><td>119</td><td>song_gsunny2</td><td>World</td></tr>
    <tr><td>120</td><td>song_magic_2</td><td>World</td></tr>
    <tr><td>121</td><td>song_overcast</td><td>World</td></tr>
    <tr><td>125</td><td>song_sneaking</td><td>World</td></tr>
    <tr><td>127</td><td>song_snowing</td><td>World</td></tr>
    <tr><td>130</td><td>song_swimming</td><td>World</td></tr>
    <tr><td>131</td><td>song_tavern</td><td>Misc</td></tr>
  </tbody>
</table>